[2014-09-12 18:33] dweinstein opened #1 "some apps use non-default namespace"
See https://gist.github.com/dweinstein/c6ccd67e3ccbd2179955. This causes `getAttribute("android:versionCode")` type xml operations to fail, causing invalid results to be obtained. Instead of using prefixes, one could use `getAttributeNS(...)` to be more specific.

[2014-09-12 18:47] dweinstein opened #3 "create elsim repo and add as gitsubmodule"
For now I'm using my [dev](https://github.com/dweinstein/androguard/tree/dev) branch for this and created the elsim repo [here](https://github.com/dweinstein/elsim). I would prefer to fork yours to keep up with upstream.

For an example you can take a look at [this](https://github.com/dweinstein/androguard/commit/60736057739dda98431869651858f1b6f5f53618) commit where I did it for personal use

[2014-09-13 07:13] #1 closed, assigned to nobody

[2014-09-13 08:13] #3 closed, assigned to nobody

[2014-09-29 21:16] lsuper opened #5 "Still version 1.5 in setup.py?"
Version in setup.py may need to be updated.
Thanks

[2014-09-30 21:13] rafajunio opened #6 "UTF-8 problem"
Hi, I have a problem if UTF-8 encode.
I save the source code in a file, than in the screen show:

---

UnicodeEncodeError                        Traceback (most recent call last)
/.../androguard/androlyze.py in <module>()
      3     if method.get_code() == None:
      4         continue
----> 5     print(method.get_class_name(), method.get_name(), method.get_descriptor(), file=f)
      6     ms =

[2014-10-23 22:49] Semyazz opened #12 "Killed message? Fresh installation"
I have a fresh installation of androguard and I'm trying to test androsim/diff.py andthe only msg I get is  "Killed".

Any idea what might be possibly wrong? I downloaded Santoku linux and it works there, so I don't know why I can't make it work on my machine. It's fresh Ubuntu 14.04. I also tried to use https://github.com/QKaiser/santoku-vm but I had to fix some dependencies to provision 80% of t

[2014-10-26 15:55] subho007 opened #13 "Decoding resources is broken"
I am trying to use androguard on `Inbox by Google` which is located at https://play.google.com/store/apps/details?id=com.google.android.apps.inbox&hl=en

At first for getting the resource objects I am using:

`aobj = apks.get_android_resources()`

where the variable apks is defined as `apks = apk.APK('com.google.android.apps.inbox.apk')`

Package name is defined as `packagename = apks.get_package(

[2014-10-31 13:08] hgascon opened #20 "Androguard logo for the repository"
What about changing the repository group logo to this image from the blog?

http://2.bp.blogspot.com/-nioTz7Gg5gg/UCFX3mpgaqI/AAAAAAAADVE/mthGVYX6P1c/s270/androguard_ninja_final_blog.png

I think it could help identifying this as the official repository.

[2014-10-31 14:13] #6 closed, assigned to nobody

[2014-10-31 14:19] #20 closed, assigned to nobody

[2014-11-01 22:07] hgascon opened #24 "Reverted commit"
Commit 999ad5004e10bf980afb52a60cad80abb45f791e has reverted previous merged commit b581d25dfc19d860bc74ff4ecd7de5ae0ef65f7d

[2014-11-03 22:17] #24 closed, assigned to nobody

[2014-11-10 18:35] palanik1 opened #32 "dvm.save() is broken"
I tried running crackme_dexlabs_patch.py from the demos folder and I get the following error

File "crackme_dexlabs_patch.py", line 59, in <module>
    new_dex = vm.save()
  File "/home/android/androguard/androguard/core/bytecodes/dvm.py", line 7445, in save
    length = i.get_length()
  File "/home/android/androguard/androguard/core/bytecodes/dvm.py", line 512, in get_length
    return len(self.g

[2014-11-11 08:50] #13 closed, assigned to nobody

[2014-11-12 05:06] kvarga opened #33 "androguard and android-21"
Looks like there is an issue with androguard and android-21. Specifically the get_android_resources() function seems to be having an issue parsing the resources.arsc file successfully. We discovered issue on some internal builds and I'm going to try to recreate a simple apk to demonstrate, but wanted to go ahead and create issue in case anyone has any ideas.

[2014-12-11 13:53] #12 closed, assigned to nobody

[2014-12-11 13:53] #5 closed, assigned to nobody

[2014-12-18 10:58] reox opened #45 "Instruction 21h seems to have a wrong implementation"
Hi,
I saw this flaw with the const/high16 opcode (and fixed it at least for DAD), but as i tried to fix it in DAD and also in the decompiler i found out that the instruction it self is not implemented correctly.
The instruction basically moves a 16bit value into the high part of a register, there are two versions: const/high16 and const-wide/high16, where the first one uses 32bit registers and the

[2014-12-21 23:00] xia0pin9 opened #46 "Unpack error when loading classes.dex"
Hi,

I got the following error when trying to load a dex file:

[code]

And the sample dex can be found at:

[code]

[2014-12-23 07:41] #46 closed, assigned to nobody

[2015-01-08 21:39] kvarga commented on #33
@adesnos Have you had a chance to look at this?

[2015-01-10 12:46] Nikoli opened #48 "Status of networkx and pygments dependencies"
Since commit d4770c4b4b1cc42fbe118d0e543ae33abdf27fba CHANGELOG has `- remove useless dependencies (networkx, pygments` line, but these dependencies are still used and required.

apkviewer.py does not work if networkx is not installed:

[code]

[code]

androdd.py still tries to open pygments python module (checked via strace)

[code]

[2015-01-10 13:39] Nikoli opened #49 "Consider removing psyco support"
http://psyco.sourceforge.net/

[code]

[code]

[2015-01-10 14:17] Nikoli opened #50 "andromercury.py is obsolete and broken"
andromercury.py is using ```from merc.lib.common import Session``` , https://code.google.com/p/androguard/wiki/Installation suggests downloading it from http://labs.mwrinfosecurity.com/tools/2012/03/16/mercury/downloads/ , but this link redirects to https://www.mwrinfosecurity.com/products/drozer/community-edition/

Seems upstream renamed mercury to drozer and most likely did a lot other changes t

[2015-01-10 14:44] Nikoli opened #51 "androxgmml.py: options '-e' and '-f' are broken"
androxgmml.py works fine only if none of '-e' and '-f' options are used:
[code]

[code]

[code]

[2015-01-10 15:03] Nikoli opened #52 "apkviewer.py: AttributeError: 'DalvikVMFormat' object has no attribute 'dotbuff'"
[code]

[2015-01-19 08:04] Colbert337 commented on #33
@kvarga @subho007 I met the same problem!!! It occur in  the "> or = Android-SDK-21" apps.I think the problem might be that  "self.header = unpack('<h', buff.read(2))[0]"   is 0,it is not correct.

[2015-01-20 10:18] JonathanSalwan opened #58 "Bug: TypeError: argument of type 'NoneType' is not iterable in core/bytecodes/apk.py"
Hey,

With some APK, I got this crash:

<pre>
  File "build/bdist.linux-x86_64/egg/androguard/core/bytecodes/apk.py", line 205, in __init__
  File "build/bdist.linux-x86_64/egg/androguard/core/bytecodes/apk.py", line 295, in get_files_types
  File "build/bdist.linux-x86_64/egg/androguard/core/bytecodes/apk.py", line 308, in _patch_magic
TypeError: argument of type 'NoneType' is not iterable
</pre>

[2015-01-23 15:59] hgascon opened #62 "Bug: AttributeError: 'PathVar' object has no attribute 'get_src'"
**androguard.androlyze.AnalyzeAPK(filename)** breaks [here](https://github.com/androguard/androguard/blob/master/androguard/core/analysis/ganalysis.py#L3214) with:
*AttributeError: 'PathVar' object has no attribute 'get_src'*
Malware samples producing this error: [[1]](https://www.virustotal.com/en/file/bad067d2b10d9826da6fdcb2ead85af091ec84a2d656e3dda6adf151ffa1a38e/analysis/)[[2]](https://www.vi

[2015-02-06 14:50] gygl09 opened #66 "how to get a function's annotation?"
in Java, there are some annotations, like @ override @ javascriptinterface. is it possible to get these annotations using androguard?

[2015-02-09 02:47] xia0pin9 commented on #33
Don't know if it's related, but I get a similar error when open an apk file, the stack trace shows the error happened in zipfile.py (http://bugs.python.org/issue14315). The androguard included version (md5: 1e042f0661f8966e7a15c81651b4dfb9) generate an "unpack" error, but the (previously mentioned) patched version of zipfile.py works without any problems.

[2015-02-09 13:50] #62 closed

[2015-02-13 23:28] xia0pin9 opened #69 ""list index out of range" in dvm.py"
I got a IndexError when trying to decompile a dex file.

The Traceback info is as follows:

[code]

[2015-02-15 20:28] subho007 commented on #66
You should know @javascriptinterface is a wrapper method. You should do a taint search of method "addJavascriptInterface"

[2015-02-15 20:29] subho007 commented on #58
It would be really helpful if you can share your dex or apk file.

[2015-02-15 20:37] subho007 commented on #50
The old version "mercury" works perfectly, but it seems, they have shifted to newer version. Looping in the Drozer developer here, so that we can discuss if there is any possible integration of Drozer with the current androguard.
CC @metall0id @dbradberry

[2015-02-15 21:07] subho007 commented on #33
This seems to be fixed at uTest/Androguard
Although, a small bug remains which can be patched according to my comments at https://github.com/uTest/Androguard/pull/1

[2015-02-15 21:22] subho007 commented on #33
I have implemented the fix in my repo too at https://github.com/xysec/androguard/pull/8

[2015-02-16 13:06] #33 closed

[2015-02-17 13:48] Nikoli opened #72 "Regression: androrisk.py is broken"
commit 37e3c3bd97a7d8e01a7ddc9d81f9642227436fe3 adds regression:
[code]
[code]
commit aa5ad780c0c8e98b9f72c774c812668b531c95d1 works fine.

[2015-02-17 20:44] #72 closed

[2015-02-21 10:52] XuYunnan opened #73 "Negative resource id in result"
My source code is like:

[code]

But output of `a.show()` contains negative resource id:

[code]

How can I convert these to correct res id?

[2015-02-23 16:07] hgascon opened #74 "How was the mapping between API calls and permissions at core.bytecodes.api_permissions generated?"

[2015-03-02 17:39] shadyproject opened #77 "Update documentation"
Currently the documentation on the old Google Code site is marked as deprecated.  Are there any plans to import it into the github wiki, or update it?

[2015-03-03 07:34] subho007 commented on #77
PR #21 is what I am achieving to do. Please try to contribute :+1:

[2015-03-21 11:37] nikhilkilivayil commented on #52
Getting the same issue. please help

[2015-03-31 09:08] linus-young opened #84 "sublime text 2 plugin not working on os x yosemite"
I copied the `plugins/ag-st` folder to `~/Library/Application Support/Sublime Text 2/Packages`,
then I found the keymap is
[code]
but it's not working when I open an apk file in st2 and click `ctrl+f5` :(

System: OS X Yosemite 10.10.2
Sublime Text 2 version 2.0.2, build 2221
androguard version: 2.0

I can use `ag` command  from my shell, and `androlyze.py` is also working.

I found that in ST2, `

[2015-03-31 09:22] linus-young commented on #84
Sorry, my bad. I should download `ag-st.zip` from google code and extract it to `~/Library/Application Support/Sublime Text 2/Packages`.

[2015-03-31 09:22] #84 closed

[2015-04-03 02:46] gygl09 commented on #66
ClassDefItem.get_annotations_off()

another useful doc is https://source.android.com/devices/tech/dalvik/dex-format.html

[2015-04-03 02:46] #66 closed

[2015-04-06 22:19] dweinstein commented on #74
not certain but you could look into [`pscout`](http://pscout.csl.toronto.edu/)

[2015-04-18 01:35] blackjack4494 opened #87 "ipython"
Hey,
i am receiving an error message: module not found
from IPython.terminal.embed import InteractiveShellEmbed

I already checked out every solution on google nothing helps. I just can get androguard 1.5 running but not 2.0

[2015-04-20 06:44] lfiona commented on #74
you will find it in tools/api/androapi.py

[2015-04-20 13:08] #74 closed

[2015-05-06 10:03] list-mailing opened #91 "missing security checks"
Variables are often used without having been properly controlled  if they are None.
This raise Exceptions.
I have fixed this bugs in the writer.py file where a crash was generated when analyzing optimezed APK.
Please find below the patched file:
[code]

[2015-05-06 10:23] list-mailing opened #92 "missing security checks in apk.py"
In some optimzed apk xml[i] can be None. If not handled, this raises an exception.
The code to handle this case has been added:
    def get_element(self, tag_name, attribute):
        """
            Return element in xml files which match with the tag name and the specific attribute

[code]

[2015-05-07 13:39] tthtlc opened #96 "HOME and other documentation wiki pages"
i noticed that the wiki home page is not updated to point back to github.

can i volunteer to make that update?   and after i am done i will submit a pull request.   just to make sure nobody else is doing likewise.

thanks.

[2015-05-07 15:41] adesnos commented on #96
You can do it. Thx !

[2015-05-14 14:07] subho007 commented on #96
@tthtlc I had opened a PR way before, but I still haven't had the time to complete it still. You can check the checklist of the PR #21

[2015-05-20 14:39] lucacapacci opened #97 "incomplete get_operands"
Hi, is it normal that `instruction.get_operands()` doesn't give me the same registers as `instruction.get_output()`?

 Example to better explain:

If i execute `print instruction.get_output()` I get:

[code]

If I execute `print instruction.get_operands()` I get:

[code]

The result of `get_output()` ranges from v0 to v7, while the result of `get_operands()` ranges from (0, 0) to (0, 6). Maybe I'm

[2015-05-27 21:05] rytilahti opened #98 "Invalid uleb128 decoding, idx_diffs for Encoded*"
Some elements are not read correctly, causing *Invalid objects to be created for them. Sounds like a decoding issue, but after doing some digging I couldn't find the cause. Btw, the biggest values are 32b full of 1s.

Dexdump has no issues reading that file.

Example APK is hosted on http://tepr.in/~tpr/temp/androguard_broken.apk . Here's an excerpt from androlyze shell for that file.

In [11]:  f

[2015-05-27 21:11] teprrr opened #99 "(Incorrect) relative path in androguard/core/androconf.py"
Hi,

The path to permission files is hardcoded, and when running scripts from the root directory looks for them from a wrong place. Basically this small patch fixes it for me, but isn't obviously a great fix. Just adding it here before I forget about it.

diff --git a/androguard/core/androconf.py b/androguard/core/androconf.py
index 842661d..43eb722 100644
--- a/androguard/core/androconf.py
+++ b/

[2015-05-28 10:25] adesnos commented on #98
probably due the the last pull request

[2015-05-28 10:32] adesnos commented on #98
Can you tell me the problem exactly ? Is it with the latest git version ?

[2015-05-28 11:33] teprrr commented on #98
It's not a new issue, but I have seen it already almost a year ago (iirc). This was tested with the latest git version, as well as one from approx. a year ago.

The problem is, that those indexes are obviously incorrect, although I'm not sure if it's the fault of DEX file here, or whether androguard reads it incorrectly. Nevertheless dexdump reads it correctly. Here's another snippet, printing out

[2015-06-02 09:32] subho007 commented on #99
This commit should fix it https://github.com/xysec/androguard/commit/51c781499a515ce73f80ad02e0a9c60119ad6bdb

@teprrr @adesnos @Lircyn

[2015-06-04 15:34] dweinstein commented on #99
@subho007 how about a PR for them to approve the fix. I can confirm that the referenced patch fixes it the problem. /cc @adesnos

[2015-06-04 17:17] dweinstein commented on #99
I opened a PR, hopefully @adesnos can merge so we can fix master...

[2015-06-04 17:20] giantpune commented on #99
+1 for @dweinstein 's PR.

[2015-06-09 11:46] zyrikby commented on #99
Thank you guys for the correction. I use AndroGuard as a library in my projects, so my version worked fine for me. I did not know that it does not work for AndroGuard scripts.

[2015-06-09 15:42] dweinstein commented on #99
@teprrr can you close this issue if things are good now for you?

[2015-06-09 15:50] teprrr commented on #99
Thanks guys, seems to work fine!

[2015-06-09 15:50] #99 closed

[2015-06-09 16:12] dweinstein commented on #99
sweet!

[2015-06-10 04:51] subho007 commented on #99
@dweinstein thanks for the PR I couldn't open a PR that's why I was referencing the commit. My git repo is a mess right now, will make it proper later :+1:

[2015-06-10 14:00] dweinstein commented on #99
@subho007 all I did was create a branch off androguard master and cherry-pick your commit then open a PR for it. :-)

[2015-06-17 08:39] xkrt opened #104 "androaxml error "not well-formed (invalid token)""
Imported from: https://code.google.com/p/androguard/issues/detail?id=163

**What steps will reproduce the problem?**
1. .\androaxml.py -i eu.chainfire.firepaper.fivehundredpx.xml -o out.xml

**What is the expected output? What do you see instead?**
expected: unpacked xml file.
but was: xml.parsers.expat.ExpatError: not well-formed (invalid token): line 5, column 0

**What version of the product ar

[2015-06-24 15:06] zyrikby opened #108 "Substitute all occurrences of get_permissions and get_detail_permissions in AndroGuard"
After merging PR #103 need to substitute all occurrences of get_permissions and get_detail_permissions methods in apk.py with the correct counterparts.

[2015-06-28 09:50] buffer opened #109 "Install error: andromercury.py does not exist"
While running 'python setup.py install' I got this error

error: file '/usr/src/androguard/andromercury.py' does not exist

Taking a careful look, it seems like andromercury.py is still listed in setup.py but it was removed from the root directory. Not sure if it was meant to be removed or just an error in committing.

[2015-06-29 09:06] adesnos commented on #109
Ok it is fixed.

[2015-06-29 09:06] #109 closed

[2015-06-29 10:44] zyrikby opened #110 "'VMAnalysis' object has no attribute '_VMAnalysis__vm'"
If you create VMAnalysis object:
[code]

you will get the following error:
[code]

[2015-06-29 10:56] adesnos commented on #110
fixed

[2015-06-29 10:56] #110 closed

[2015-07-01 09:41] zyrikby opened #113 "How to find out in which method a string is used?"
I would like to find out how to detect a method in an application where a particular string is used? E.g., it is common to specify content provider by a string. So I would like to know in which method the string is used.

[2015-07-13 17:45] ptroxell opened #114 "AnalyzeAPK Fails with "AttributeError: 'dict' object has no attribute 'AOSP_PERMISSIONS'""
Trying to analyze an app as follows:

Androlyze version 3.0
In [1]: a,d,dx = AnalyzeAPK("../com.whatsapp.apk")
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/Library/Python/2.7/site-packages/androguard-3.0-py2.7.egg/EGG-INFO/scripts/androlyze.py in <module>()
----> 1 a,d,dx = AnalyzeAPK("../co

[2015-07-13 18:55] ririhedou commented on #114
I believe this is a bug cuz I met the same problem several times,
Traceback (most recent call last):
  File "androguard_ANALYSIS.py", line 89, in <module>
    display_PERMISSION( vm, x, classes )
  File "androguard_ANALYSIS.py", line 69, in display_PERMISSION
    perms_access = x.get_tainted_packages().get_permissions( [] )
  File "build/bdist.linux-x86_64/egg/androguard/core/analysis/analysis.py"

[2015-07-13 20:22] ririhedou commented on #114
Hi,
 I have updated two files, the code looks running successfully.

![1](https://cloud.githubusercontent.com/assets/6613414/8659785/0675ace2-297b-11e5-9ccd-bde5700d635a.png)

Here are the functions in the two modified files.
the function: get_permissions in Class TaintedPackages(object) and Class TaintedVariables(object):
in core/analysis.py
[code]
the function load_api_specific_resource_module(r

[2015-07-14 07:29] harryhappy opened #115 "AttributeError: 'TryBlock' object has no attribute 'visit_cond'"
i have a  QQ.apk
my code like:
TEST = "./QQ.apk"
de = decompile.DvMachine(TEST)
start = time.clock()
de.process()
end = time.clock()
print end-start

the full log is:
    de.process()
  File "build\bdist.win-amd64\egg\androguard\decompiler\dad\decompile.py", line 401, in process
  File "build\bdist.win-amd64\egg\androguard\decompiler\dad\decompile.py", line 251, in process
  File "build\bdist.win-

[2015-07-15 03:38] harryhappy commented on #115
File "F:\python\space\Androguard0715\src\demos\test_harry.py", line 68, in <module>
    de.process()
  File "F:\python\space\Androguard0715\src\androguard\decompiler\dad\decompile.py", line 401, in process
    dvclass.process()
  File "F:\python\space\Androguard0715\src\androguard\decompiler\dad\decompile.py", line 251, in process
    self.process_method(i, doAST=doAST)
  File "F:\python\space\And

[2015-07-17 07:16] harryhappy commented on #114
@ririhedou
the function: get_permissions in Class TaintedPackages(object) and Class TaintedVariables(object):
in core/analysis.py
the function load_api_specific_resource_module(resource_name, api) in androcoonf.py

another error
androguard\core\analysis\analysis.py", line 1179, in get_permissions
    for f, _ in self.get_fields():
AttributeError: 'TaintedPackages' object has no attribute 'get_fiel

[2015-07-17 08:17] #114 closed

[2015-07-17 08:18] adesnos commented on #108
Do you want to do it ?

[2015-07-18 10:18] em0vskangoura commented on #52
Damn this is not fixed yet? I have this too.
So I guess its specific to something. Anyone figured a workaround ?

[2015-07-22 11:40] leonid-s-usov commented on #113
just iterate over tainted strings; when you find the matching string value get the method reference from the TaintedVariable

`
for tv, candidate in self.vmx.get_tainted_variables().get_strings():
    # if match(candidate):
        # tv.show_paths()
`

[2015-07-29 12:52] twmht opened #119 "Is it possible to get the apk signature?"
Hi,

Is it possible to get the apk signature without aapt or other c library support?

Thank you.

[2015-08-06 12:35] hebrew878 opened #121 "killed"
![andro](https://cloud.githubusercontent.com/assets/2658040/9111535/99231622-3c65-11e5-88ca-1a79ed1abcb5.png)
why i am getting killed as output?

[2015-08-11 18:27] kvozon opened #122 "androsign.py Segmentation Fault"
When i run a androsign.py i got an segmentation fault of elsim library. I did some tracing and found out that the problem is in "androguard/elsim/elsim/elsign/libelsign/elsign.cc"
 in function: PyObject *entropy(PyObject *self, PyObject* args)
The problem was in uninitialized local variables (which is my opinion is very bad taste) here:
[code]
So, initializing them to NULL and 0 fixed the problem,

[2015-08-31 02:29] harryhappy opened #123 "is Multidex Apps supported?"
'''python

    def get_dex(self):
        return self.get_file("classes.dex")
'''
but   i have an  apk  have  2 dex-file

[2015-09-03 12:23] nachtmaar opened #124 "libmagic broken on mac"
After installing libmagic with

[code]

androguard fails with the following traceback:

[code]

[2015-09-03 12:26] nachtmaar commented on #124
The following code works on MAC:

[code]

[2015-09-11 10:25] adesnos commented on #121
We need more debug.

[2015-09-11 10:26] adesnos commented on #87
seems ok with the latest version.

[2015-09-11 10:26] #87 closed

[2015-09-11 10:26] adesnos commented on #50
no more supported.

[2015-09-11 10:26] #50 closed

[2015-09-11 10:26] adesnos commented on #32
Yep :(

[2015-09-11 10:27] adesnos commented on #51
no more supported

[2015-09-11 10:27] #51 closed

[2015-09-11 10:27] adesnos commented on #52
no more supported

[2015-09-11 10:27] #52 closed

[2015-09-11 14:13] #123 closed

[2015-09-11 19:44] rotlogix opened #126 "What has replaced AndroguardS?"
I was using this class for a lot of functionality in my own tool and I noticed after pulling today, that the androgen file is no longer available.

[2015-09-12 09:15] adesnos commented on #126
Uhm sorry, please sync to an older version if you want, I'm trying to clean up a lot of thing.

Otherwise you can do:
    s = session.Session()
    with open("examples/android/TestsAndroguard/bin/classes.dex", "r") as fd:
        s.add("examples/android/TestsAndroguard/bin/classes.dex", fd.read())

[2015-09-12 09:16] adesnos commented on #126
(the new way is better, the idea is to support for example multidex apk, or dropped dex/odex etc for the same APK).

[2015-09-12 09:18] adesnos commented on #126
and I will fix all files that used androgen with the new way.

[2015-09-13 08:22] adesnos commented on #115
Could you paste the APK ?

[2015-09-13 13:17] #122 closed

[2015-09-13 21:23] rotlogix commented on #126
does APK().get_dex() still return the .dex?

[2015-09-14 01:31] harryhappy commented on #115
yes,   i  will  close it
thank  you for your works

[2015-09-14 01:31] #115 closed

[2015-09-14 05:14] adesnos commented on #126
yes sure but now it is a generator to support multidex. So you use .next()

[2015-09-14 06:36] leonid-s-usov commented on #126
Actually, it would probably be a better idea to add another function as a generator, and leave this backward compatible. Maybe even add a conveniency `get_dex2`

Sent from mobile device, typos and false corrections are possible

Regards,
Leonid S. Usov

14 вер. 2015 о 08:14 Anthony Desnos <notifications@github.com> написав(ла):

[2015-09-14 07:00] adesnos commented on #126
yeah ok I changed that :)

get_dex -> simply for the classes.dex
get_all_dex -> multidex support

[2015-09-14 07:00] #126 closed

[2015-09-14 07:03] adesnos commented on #113
With the new analysis you can do:
In [7]: print dx.get_strings_analysis()["YOUR_STRING"]

[2015-09-14 07:03] #113 closed

[2015-09-14 07:05] adesnos commented on #104
Seems to work on the latest commit.

[2015-09-14 07:05] #104 closed

[2015-09-14 07:54] leonid-s-usov commented on #104
This was an issue of invalid StringBlock decoding, fixed by ab2fbac1b11002581a454048417a3930c7d88b32

[2015-09-14 16:59] adesnos commented on #69
Have you the APK/dex please ?

[2015-09-14 18:56] leonid-s-usov opened #128 "Versioning"
Hi,

I suggest that we create a clean release branch and start merging master there once it is stabilized. Over the couple of last days master was quite unstable, and that is the only branch people are checking out. Also, we need to bump up the version. WDYT?

[2015-09-14 19:02] subho007 commented on #128
I think it is a good Idea. I follow git-flow way of working, we can have a `develop` branch which has the latest tested/un-tested code and a `master` branch which has only the latest stable codes.

We should also use tags and releases for it. What do you think @adesnos

[2015-09-14 19:03] subho007 commented on #124
Works good on my mac without the code changes you suggested.

[2015-09-14 19:04] adesnos commented on #128
Let's add a release or a zip and keep the master for development :)

[2015-09-14 19:11] subho007 commented on #124
@nachtmaar as specified in the code at https://github.com/androguard/androguard/blob/master/androguard/core/bytecodes/apk.py#L392

You need to install python-magic and not libmagic

to install python-magic you can use:

`pip install python-magic`

[2015-09-14 20:45] leonid-s-usov commented on #128
master for development is OK with me, though not orthodox. Please introduce the release branch, and make sure that on master the version is with .dev suffix, whereas on release it will be pure version

[2015-09-15 07:56] adesnos commented on #128
yep ok

[2015-09-15 08:07] #128 closed

[2015-09-15 08:07] #124 closed

[2015-09-17 13:29] F3real opened #130 "IOError when running androdd.py"
When running `androdd.py -i app-debug.apk -o tmp` on Windows I get following error:
[code]

[2015-09-17 19:11] F3real commented on #130
< and > are forbidden in filenames on windows

[2015-09-19 14:30] thinhnd8752 opened #131 "issue when run androdd.py"
Hi all, I get the following error when i run androdd.py :
[code]

[2015-09-19 20:28] hallucino commented on #131
Yes please use the release here: https://github.com/androguard/androguard/releases

[2015-09-19 20:30] adesnos commented on #131
Please use https://github.com/androguard/androguard/releases

[2015-09-19 20:30] #131 closed

[2015-09-20 06:43] adesnos commented on #126
Please use the release: https://github.com/androguard/androguard/releases

[2015-09-23 11:42] victorchoy opened #132 "androidd.py has error pydot.InvocationException: -11"
When i decompile a apk,  an error happens.  I try two times.  It always stops at Dump Lcbd; h ()Z ... jpg ...  Exception list below.   Is thers some solutions?  Hope your help.

[code]

[2015-09-23 16:44] dweinstein opened #133 "requirements/dependencies"
would be nice to have a more complete description of requirements for using all the aspects of androguard. I have a dockerfile that I maintain for most of the features that I use https://github.com/dweinstein/dockerfile-androguard/blob/master/Dockerfile if it's helpful at all. probably it needs to be updated a bit as well.

for the normal androguard install `yara`, `openssl`, `requests`, `ipython`

[2015-09-23 17:18] dweinstein commented on #133
FWIW I try to maintain the official mitmproxy Dockerfile https://github.com/mitmproxy/docker-base/blob/master/Dockerfile if someone wants me to help with the official androguard dockerfile as well...

[2015-09-27 09:22] subho007 commented on #132
@victorchoy can you tell us what exactly the command you have executed ?

[2015-09-27 09:24] subho007 commented on #133
@dweinstein I am willing to help you, what do you need to maintain the androguard docker? The proper build instructions ?

[2015-09-27 10:01] subho007 commented on #69
This one should be fixed already. @xia0pin9 can you check it? @adesnos you can close this once you get a confirmation

[2015-09-27 14:35] dweinstein commented on #133
I have build instructions in my personal dockerfile that I shared above, but could use help reviewing for accuracy and coverage of all the different use cases to make a proper official one. ISTM that there's a dev build and a normal build (i.e., maybe everyone doesn't need the libsimilarity functions for example).

I'll open up a PR with a starting place to discuss more with you @subho007

[2015-09-27 22:22] bwright611 opened #136 "ganalysis and uVMAnalysis"
I'm using this for a school project and it seems like I can't import ganalysis nor uVMAnalysis anymore. Can someone let me know how to utilize those?

six@ubuntu:~/androguard$ ./demos/dalvikvm_format_8.py
Traceback (most recent call last):
  File "./demos/dalvikvm_format_8.py", line 10, in <module>
    from androguard.core.analysis import analysis, ganalysis
ImportError: cannot import name ganalys

[2015-09-28 15:24] subho007 commented on #136
@bwright611 did you install androguard properly? run the following before you execute the demos:

`[sudo] python setup.py install`

[2015-09-28 15:25] subho007 commented on #133
Agreed. Willing to help :+1:

[2015-09-28 15:27] subho007 opened #137 "Supporting Python 3 ?"
@adesnos any thoughts about supporting Androguard for Python 3 ? I am willing to take the challenge to port it to Python 3

[2015-09-28 15:49] bwright611 commented on #136
@subho007 Yes, I did. I still get an error about ganalysis and uVMAnalysis. I looked into the androguard/core/analysis directory and I didn't see those classes available anymore. Basically I'm trying to get Mallodroid to run, but it depends on those resources.

[2015-09-28 17:00] zyrikby opened #139 "No reference to 'analysis'"
There is no reference to analysis object in 'demos/androguard_ANALYSIS.py'. Should we remove this file?

[2015-09-30 08:14] victorchoy commented on #132
$androdd.py -i  xxx  -o dir  -f jpg

[2015-10-01 20:21] xeroxnir commented on #136
I'm having the same problem. GVMAnalysis and uVMAnalysis missing in master. Also VMAnalysis replaced newVMAnalysis doesn't have tainted_packages field.

[2015-10-06 06:55] bwright611 commented on #136
@xeroxnir Did you ever find a solution?

[2015-10-08 08:16] adesnos commented on #136
Please use https://github.com/androguard/androguard/releases and not the current git. We are working on refactoring.

[2015-10-08 08:16] #136 closed

[2015-10-08 08:23] bwright611 commented on #136
Thanks for the response. I was trying to get 1.9 working with Mallodroid but I can't seem to get it working correctly. Everyone has told me 1.9 is the version to use.

[2015-10-08 09:41] lorinwu opened #140 "There is a bug on getting locales/app-name of one app with l18n[andguard v2.0]"
Hi author and all,
There is a bug while I try to get locales and app-name of one app, please help fix on it, thanks,
using aapt, the right locales and app-name as below:
 ---------------------use aapt--------------------------------
[lorin@localhost data]$ aapt d badging sampleapk/000004DFE3CF7F2B0AE8BF5A37A90B0CF558ACC1-6D8477CC03CF147337F39134DCC63BA3.apk
package: name='com.han.plays.hltaskmanag

[2015-10-08 17:36] leonid-s-usov commented on #140
Hi @lorinwu,

on the latest `master` branch there are fixed issues in the code you are referencing. However the code is not yet merged to the release `www` branch, so you will need to wait.

You may try 2c96c6a65bc4b5a99c81a87d66f7aa82f2300982 to see the output. At least it fixes the encoding problem, you should now see chinese characters. However it lacks support for returning requested locale. I

[2015-10-09 04:23] lorinwu commented on #140
thank you @leonid-s-usov , I will check out the fixed code later, hope it works.

[2015-10-17 23:36] rotlogix opened #141 "Tainted Fields for Given Method"
Is there anyway to examine the tainted fields within the basic blocks for a given subroutine?

[2015-10-23 02:02] lorinwu opened #145 "There is a series of bugs on getting certificate of an app[andguard v2.0]"
Hi author and all,
I used millions of apps to verified there is series of bugs on getting certificate info. regarding methods in apk.py are as follow:
get_signature_name
get_signature
show_Certificate

This is because some apps are signed with multi-certificates(different certificates). Even if only one certificate, it may be a certificate chain.

for get_signature_name and get_signature

[code]

[2015-10-23 02:12] lorinwu commented on #145
sorry for the spam, found already fixed.

[2015-10-23 02:15] lorinwu commented on #145
but it is not exactly same, @5888618 , still need to add the certificate chain info.

[2015-10-30 23:36] androsex opened #147 "newVMAnalysis class breaks elsim"
Hi *,
The class "newVMAnalysis"[1] doesn't define "get_method_signature" method. Which is called by elsim_dalvik.py [2]

the traceback is following

Traceback (most recent call last):
  File "./androdiff.py", line 151, in <module>
    main(options, arguments)
  File "./androdiff.py", line 111, in main
    threshold, options.compressor)
  File "./elsim/elsim/elsim.py", line 155, in **init**
    sel

[2015-11-09 08:45] subho007 commented on #108
@zyrikby any updates on this ?

[2015-11-09 10:11] zyrikby commented on #108
It seemed to me that Anthony during his last big cleaning removed old references. In PR #138, I removed the implementations of these old methods and my eclipse did not find any references to these methods.

[2015-11-09 11:05] subho007 commented on #108
there seems to be some mismatch.

The API_PERMISSION_MATCHING are in the following Folder: https://github.com/androguard/androguard/tree/master/androguard/core/api_specific_resources/api_permission_mappings

This is not invoked anywhere, and the old way of extracting used permissions are now removed along with `PathVars` and `TaintedVariables` which now makes it difficult for me to track down perm

[2015-11-09 11:30] zyrikby commented on #108
As I said, @adesnos completely rewrote VMAnalysis class. Now there is no references to this functionality anymore. I suppose that Anthony plans to add this functionality to newVMAnalysis later (see androguard/core/analysis/analysis.py).

However, I agree that the project needs a more clear plan how to be developed. Any thoughts @adesnos ?

[2015-11-09 21:30] subho007 commented on #108
@zyrikby I agree, let me look at it and suggest a new PR :)

[2015-11-09 22:45] subho007 commented on #108
@adesnos it seems a lot of changes needs to be done, without proper plan, I seem to hit a wall. Can you suggest/add API permission mappings ?

[2015-11-10 15:59] priscila225 commented on #48
Still reproducible on latest

[2015-11-11 21:17] subho007 commented on #108
@adesnos can we have a separate issue for upgrades. Stuffs which are missing now:
1. Permission Maps
2. Tainted_Packages
3. Tainted_Variables
4. Complete port of newVMAnalysis to uVMAnalysis

[2015-11-18 09:39] ranjeetDT opened #148 "getting activity list or any elements list fails (unicode error)"
def get_elements(self, tag_name, attribute):
        """
            Return elements in xml files which match with the tag name and the specific attribute

[code]

test 'callsign android app' , https://play.google.com/store/apps/details?id=com.callsign.android.app

error is

File "lib/androguard/core/bytecodes/apk.py", line 647, in get_activities
    return self.get_elements("activity", "name")

[2015-11-23 09:43] dhilipsiva opened #149 "Possible bug with `DALVIK_OPCODES_FORMAT` in `dvm.py`"
The Issue is with these lines:
https://github.com/androguard/androguard/blob/e3befe2cc259ecf6c28cacbbcf85efc1f23bd1a3/androguard/core/bytecodes/dvm.py#L4001
and
https://github.com/androguard/androguard/blob/e3befe2cc259ecf6c28cacbbcf85efc1f23bd1a3/androguard/core/bytecodes/dvm.py#L3989

The code goes something like:

[code]

`DALVIK_OPCODES_FORMAT` contains only keys ranging from 0x00 to 0xfe. But

[2015-11-26 13:33] ThomasBordenave commented on #148
I have the same error when using API get_services(). Of course, get_elements() is called.

[code]

[2015-11-26 13:38] leonid-s-usov commented on #148
Not sure which version of the code you are using. I know that master is broken as many report, but it contains a my pull request merged, where I have fixed a big mess in the encoding when reading string blocks from packed files. Try patching your version with this https://github.com/leonid-s-usov/androguard/commit/ab2fbac1b11002581a454048417a3930c7d88b32

[2015-11-26 13:46] ThomasBordenave commented on #148
Thanks for your answer, I'm using the last stable version. I have almost the same issue with this patch:

[code]

[2015-11-26 13:54] leonid-s-usov commented on #148
OK,

we don't have line matching version, but I suspect the the problematic line is

[`l.append(str(value))`](https://github.com/androguard/androguard/blob/master/androguard/core/bytecodes/apk.py#L530)

please change str() to unicode() and try again, still having my patch applied

[2015-11-26 14:04] ThomasBordenave commented on #148
Thank you it's working. The encoding is in fact a mess, I'll wait your patch in the next release :).

[2015-11-26 14:07] leonid-s-usov commented on #148
Good to know.

I suspect that the `unicode()` fix will remove the crash also if the patch is not applied, but it may return a corrupt string without the patch. Would appreciate if you could confirm this.

Cheers!

[2015-11-26 14:21] ranjeetDT commented on #148
Thanks for you reply,

Yes the unicode() fix removes the crash but sometimes it returns a corrupt string without the patch.

[2015-11-26 14:26] leonid-s-usov commented on #148
Would be great if one of you created a pull request with replacing `str()` to `unicode()` in all places, given that you possess the appropriate APKs to test on.

[2015-11-26 14:26] ThomasBordenave commented on #148
Indeed, it works with the unicode() without the patch (In my case).

[2015-12-05 15:08] ia-sadosky opened #154 "Licensing confusion"
the project landing page and the LICENCE-2.0 file (https://github.com/androguard/androguard/blob/master/LICENCE-2.0) indicate Androguard has an Apache 2.0 license but most Python files have an LGPGv3 license inlined in the .py files.
Is that youractual intent or simply forgot to update license term in the .py files?

[2015-12-13 06:03] micxu opened #156 "how to install the androguard in the Mac OS X EI Capitan?"

[2015-12-15 00:35] xzhou commented on #156
I tried but failed, seems too many dependencies.

[2015-12-15 00:44] xzhou opened #157 "androidiff.py AttributeError: 'module' object has no attribute 'SIGNATURE_L0_4'"
Traceback (most recent call last):
  File "./androdiff.py", line 32, in <module>
    from elsim.elsim_dalvik import ProxyDalvik, FILTERS_DALVIK_SIM, ProxyDalvikMethod, FILTERS_DALVIK_BB
  File "./elsim/elsim/elsim_dalvik.py", line 28, in <module>
    DEFAULT_SIGNATURE = analysis.SIGNATURE_L0_4
AttributeError: 'module' object has no attribute 'SIGNATURE_L0_4'

[2015-12-15 01:45] dweinstein commented on #156
I suggest using this docker container https://github.com/dweinstein/dockerfile-androguard

[2015-12-15 09:19] ranjeetDT opened #158 "multidex support in parsing a classes.dex file while passing APK"
In dvm.py file, the below code does not support multiple dex files

 class DalvikVMFormat(bytecode._Bytecode):

[code]

get_dex() only will return a single dex file buffer, I think this needs to be modified to support multiple dex.

[2015-12-16 07:36] wjk20120522 commented on #158
As I understand it, each DalvikVMFormat object is just a dex file. So the 'buff' variable is just the content of one dex file. I don't think  the buff can be 'APK' type, because in _load() function, the 'buff' must be the content of one dex file.

[2015-12-18 09:24] ranjeetDT commented on #148
created a pull request for the change. Please check
https://github.com/androguard/androguard/pull/159

[2015-12-22 06:00] ranjeetDT commented on #158
well; if that is the case, then there is no need to check if 'buff' is an instance of APK and get the dex from it;

[2015-12-22 06:01] amalsajeevan commented on #157
I am also facing the same issue while running ./androdiff.py
Below i am mentioning the error  :

File "./androdiff.py", line 32, in <module>
    from elsim.elsim_dalvik import ProxyDalvik, FILTERS_DALVIK_SIM, ProxyDalvikMethod, FILTERS_DALVIK_BB
  File "./elsim/elsim/elsim_dalvik.py", line 28, in <module>
    DEFAULT_SIGNATURE = analysis.SIGNATURE_L0_4
AttributeError: 'module' object has no attrib

[2015-12-22 06:05] ranjeetDT opened #160 "unable to parse AndroidManifest having unicode characters"
If the AndroidManifest file is not properly formed and cannot be parsed; (but the apk is generated), the exception is raised. Need to handle such errors.

self.xml[i] = minidom.parseString((self.axml[i].get_buff())) <-- exception in this line

app to test : https://play.google.com/store/apps/details?id=com.jpmorgan

Below is the stacktrace:

Error
Traceback (most recent call last):
  File "/Users/

[2015-12-22 06:48] leonid-s-usov commented on #160
See #140 for a solution

[2015-12-22 06:50] leonid-s-usov commented on #160
Or better, #148

[2015-12-22 06:51] ranjeetDT commented on #160
understood, on further analysis, I found that there are some apks for which the AndroidManifest file is not properly formatted i.e. it cannot be parsed using xml parsers but still the apk is generated. One such app is  https://play.google.com/store/apps/details?id=com.jpmorgan. So, an exception is raised and APK object is not initialised.

[2015-12-22 06:58] leonid-s-usov commented on #160
I can't check it currently, but it may be something I fixed in a pull request https://github.com/androguard/androguard/pull/155

[2015-12-29 05:48] tuomao opened #162 "androguard.core.bytecodes.dvm.EncodedMethod.show_xref() don't return all the Crossreference methods"
I have a malware apk file. when I analisys the method below

[code]

from the decompilation code, we can see  the method call getDeviceId(),getSubscriberId() and so on
dangerous methods .
however,when I use androguard.core.bytecodes.dvm.EncodedMethod.show_xref() to get dm(Context paramContext) Crossreference methods .it returns

[code]

obversely,it only return part of the crossrefrence methods.
s

[2016-01-02 06:24] subho007 opened #163 "Androguard Maintanence"
Hi @adesnos @Lircyn there has been a lot of pending issues and PR waiting to be included, can we have those resolved faster? or are there any timeline you are looking out for? We use androguard in our project, and want to contribute as much as we can to it.

[2016-01-06 09:10] 562526772 opened #164 "The Decompiler in Androguard"
Hello!
I want to extract the call graph from the apk file and do some analysis. But when I get the gexf file and open it, I found many functions(nodes) which are not declared in corresponding smali file.
So could you tell me how to get smali files with Androguard? Or what is the decompiler that Androguard used?

[2016-01-08 10:39] orangecoder opened #165 "How to play this toys? could somebody show me a wiki !"

[2016-01-18 13:57] cryptax opened #166 "READ_CONTACTS abusively reported for openInputStream"
Hi,
Androguard is reporting use of READ_CONTACTS whenever there is this in the code:

[code]

This is abusive, because depending on paramUri, the code above can be used to load an image or plenty of other things. Contacts are really read only if you access ContactsContract.xxxx.

In Androguard's code, you should probably re-visit api_permissions.py and modify/remove:

[code]

[2016-01-25 19:26] giladbeeri commented on #156
Which errors do you get? I succeeded installing it in OS X 10.11.

[2016-01-28 13:10] micxu commented on #156
how to install python? could you give me detailed information? like install steps?

________________________________
发件人: Gilad Beeri <notifications@github.com>
发送时间: 2016年1月25日 19:26
收件人: androguard/androguard
抄送: micxu
主题: Re: [androguard] how to install the androguard in the Mac OS X EI Capitan? (#156)

Which errors do you get? I succeeded installing it in OS X 10.11.

―
Reply to this email dir

[2016-02-02 03:53] lingfennan commented on #157
I have this bug as well. It seems some new commits break the dependency. I looked back and found this commit (cd0f6a60a639cdecc4df40948fb0a172657f8b3b) works.
`git checkout cd0f6a60a639cdecc4df40948fb0a172657f8b3b`
BTW, the programs depends on relative path of elsim, i.e. "./elsim", I did a sed to make it absolute path, so that I can use androsim.py at other locations.
`sed -i 's/.\/elsim/$ESCAPED

[2016-02-05 13:48] GitHubJJW opened #167 "******ImportError: No module named elsim ****** base on github new version"
Dear androguard tream,

Can you get me a hand, please help me check what happen.

---

apkTemp# androsim.py -i circle.apk circle1.apk -c ZLIB -n
Traceback (most recent call last):
  File "/usr/local/bin/androsim.py", line 4, in <module>
    **import**('pkg_resources').run_script('androguard==3.0', 'androsim.py')
  File "/usr/lib/python2.7/dist-packages/pkg_resources/**init**.py", line 735, in run_

[2016-02-25 20:10] zhhailon commented on #165
https://code.google.com/archive/p/androguard/wikis

[2016-02-25 20:18] zhhailon commented on #164
It uses DAD.

[2016-02-29 13:30] JustEnuff2BDangerous opened #170 "Issue with resource file string entry, string decode size calculation"
I've come across the following issues with regards to Androguard/core/bytecodes/apk.py's `StringBlock`class when retrieving an entry from a string pool which is UTF8 encoded.

Android does not appear to enforce/check the overflow of the string size fields in a String Pool Entry represented in `decode8` and `decode16` as `str_len` and `encoded_bytes`. It is therefore possible in a UTF8 encoded stri

[2016-03-13 07:41] tuomao opened #171 "How to get apk calls API through androguard api?"
apk calls api including android sdk apis,java lib apis.

[2016-03-13 13:39] 2048li opened #172 "command "a,d,dx = AnalyzeAPK(apkname,decompiler)" cannot get the dx"
Hi,
I used the script androlyze.py in androguard, after I entered the cmd, running the command "a,d,dx = AnalyzeAPK(apkname,decompiler)", i should get the value of a, d, and dx, but the result showed to me is that the d and dx is null. And I cannot use the "VMAnalysis" to get the analyzed dex object.
Any idea?
Thanks!

[2016-03-17 14:20] 2048li commented on #172
any ideas?thanks

[2016-03-21 03:07] jjooeey commented on #172
Hey, I am using the same commands and the values of d and dx are null to me as well. Is nobody using this ?

[2016-03-22 10:15] lorinwu opened #173 "bug on get main activity or other component"
Hi all,
I found some malicious apps register several main activities as below:
there are 2 main activities but one of them has android:enabled="false"
that will lead to get wrong main activity by androguard(a.get_main_activity method);

`<activity android:name="com.onegravity.k10.activity.DualPaneActivity" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <a

[2016-04-04 20:33] ahawker opened #175 "Question: How to get annotations for classes/methods?"
Use case: Find all the classes/methods with a certain annotation, e.g. `@Deprecated`.

Finding all classes/methods in the DEX is trivial, but I cannot find any linking data between the classes/methods and their respective annotation data.

The raw annotation data parsed from the DEX format appears to be stored in the map_list at index 15, but I cannot figure out a mechanism for this data to be lin

[2016-04-13 03:39] gnaix92 commented on #156
@giladbeeri how to install androguard in OS X 10.11

[2016-04-13 03:43] gnaixx opened #176 "how to install androguard in OS X EI capitan"

[2016-04-14 01:08] dillrich opened #177 "Androlze -s won't run on ubuntu 14.04"
![screenshot from 2016-04-13 21 02 16](https://cloud.githubusercontent.com/assets/11622670/14514086/7490f36c-01bb-11e6-9a2c-911199efca86.png)

ipython 1.2.1
python 2.7.6
traitlets 4.2.1

[2016-04-19 07:38] AnyPython opened #178 "Can not get the app's name"
When i tried to get the app'name, i used the "get_app_name()" but didn't work and it returned me nothing. So i found the function in the "apk.py" .
Here is what you said:
-------------------------------------------------------------------------
    def get_app_name(self):
        """
            Return the appname of the APK

            :rtype: string
        """
        main_activity_name = self

[2016-04-19 07:43] AnyPython commented on #178
Here is my code:
from androguard.core.bytecodes import apk
    FILE = "xxxx.apk"
    a = apk.APK(FILE)
    app_name = a.get_element("application","label")
    if app_name.startswith("@"):
        res_id = int(app_name[1:], 16)
        res_parser = a.get_android_resources()

        app_name = res_parser.get_resolved_res_configs(
                    res_id,
                    apk.ARSCResTableConfi

[2016-04-19 09:05] AnyPython commented on #178
I am sorry about this question. I fix it up by updating androguard.

[2016-04-19 09:05] #178 closed

[2016-04-19 11:08] gurol commented on #178
Could you tell me how to update an existing androguard (1.9) installed on Linux or Mac OS to the latest version (2.0)? I couldn't update it by downloading the zip file of the repository, extract to a local directory and run the setup.py script. Codes are not changes. Thank you in advance.

[2016-04-25 07:17] lengyu2014 commented on #167
I meet the same problem @GitHubJJW

[2016-05-19 19:42] vftaylor opened #180 "show_Permissions(dx) is not complete"
Hi,

I have Androguard up and running. For some apps (not all), like 'com.facebook.katana', the output of show_Permissions(dx) seems to be incomplete both in terms of the permissions used and the instances where they are used. Am I missing something? Example output from com.facebook.katana follows:

![githubexample](https://cloud.githubusercontent.com/assets/19477986/15407329/35f69c84-1e02-11e6-85

[2016-05-31 20:18] gurol commented on #180
Could you provide the sample or its hash?

[2016-06-01 10:12] toppatopvt commented on #180
Of course I can:

Package: com.facebook.katana
MD5: 2f5eb2aca674c2774f3a63f0ecf0888d
SHA1: 0274645d76111793b7f9911feb234b343ae93cd5
APK: http://www.filedropper.com/comfacebookkatana

Pretty much you can just get any of the latest APKs and I believe you won't get accurate results either.

Best,
Vince.

[2016-06-02 11:09] gurol commented on #180
Hi,
My analysis result is different from yours:

`show_Permissions(dxanalysis)
FACTORY_TEST :
R ['Landroid/content/pm/ApplicationInfo;', 'flags', 'I'] (0xa) ---> Lcom/facebook/common/dextricks/MemoryEnlargementHack;->a(Landroid/content/Context;)V
…
ACCESS_NETWORK_STATE :
1 Lcom/facebook/tools/dextr/bridge/upload/UploadConstraints;->a()Z (0x26) ---> Landroid/net/ConnectivityManager;->getActiveNetwo

[2016-06-03 12:15] luckenzo opened #181 "Bug: AttributeError in show method of MethodAnalysis class"
The line `i.show()` in the show method of the MethodAnalysis class causes an AntributeError as the DVMBasicBlock object does not have an attribute show.

[2016-06-03 16:03] DarthEmpty opened #182 "Unable to find documentation for androguard 2.0"
Hey there,

I was hoping that somebody that knew would point me in the direction of the documentation for androguard 2.0? I found 1.9's documentation perfectly fine but have been unable to find anything similar for 2.0.

[2016-06-03 16:07] luckenzo commented on #182
I don't think there is documentation for 2.0 yet!

[2016-06-04 17:19] dinasaif opened #183 "How to get api?"
I want to write code with java to get all api by androgaurd
any one help me how to make this or which command line must I write to get them?
I write this command :python androdd.py -i Samples.apk -o ./dd
but it create dd folder I want to get all method names only not create dd file and all these lines
Thanks alot

[2016-06-07 09:49] DarthEmpty commented on #182
Ah, fair enough!
Is it possible to get an idea of when it'll be made?

[2016-06-20 12:34] ohaz opened #185 "Modifying an APK using androguard"
Hey guys,

I'm currently searching for ways to change functions, packages etc in android apps. To do that, I need to be able to rename stuff, move stuff around and similar. Also, I need to be able to assemble the modified app afterwards so that it's a fully working apk again. Is there a way to do such stuff in androguard? if not, do you know any alternatives that allow me to do such things?

Kind

[2016-06-28 14:15] cryptax opened #188 "show_Permissions(dx) and other show_xx() have disappeared"
I have downloaded the sources from git cloning. Hence, androlyze 3.0-dev.

There used to exist a method show_Permissions(dx), show_DynCode(), show_NativeMethods() and show_Paths. Those were in androguard/core/analysis and they clearly are no longer there :(

Where have they gone? or how have they been replaced?

[2016-06-28 15:09] cryptax commented on #185
You can edit the code for each method, but that's going to be particularly long and tedious...

See method.get_code() and method.get_instructions().

[2016-06-28 16:25] ohaz commented on #185
Hm, thank you. Going to try using smali then

[2016-06-28 16:25] #185 closed

[2016-07-30 23:07] wipup opened #190 "No androrisk.py in Androguard 2.0"
Hello.

There used to exist a script androrisk.py in Androguard 1.9 but it has disappeared in version 2.0.
Was it replaced by any other script? Or is there any function in Androguard 2.0 that I can use to calculate risk value of APK files like androrisk.py?

Thanks

[2016-08-16 09:11] acsudeep opened #192 "No Attribute s.get_objects_apk"
$ python androguard_ANALYSIS.py
Traceback (most recent call last):
  File "androguard_ANALYSIS.py", line 93, in <module>
    a, d, dx = s.get_objects_apk(TEST)
AttributeError: 'Session' object has no attribute 'get_objects_apk'

[2016-08-23 03:13] ybdesire opened #193 "What is tainted packages?"
The description of androguard function [get_tainted_packages()](http://doc.androguard.re/html/analysis.html#androguard.core.analysis.analysis.VMAnalysis.get_tainted_packages) is "Return the tainted packages". It seems all classes defined for the APP will be returned from my testing of this function. But what is the meaning of tainted packages ?

[2016-08-30 05:18] Sophiexuer opened #194 "What is the version of androguard permission api mapping？"
Hi,

When I use the permission api mapping function in androguard, I wonder what is the current version. Does the version match with Android M or N? And if I find the mapping document, how can I replace it in androguard.

Waiting for your response.

Thanks.

[2016-09-06 01:15] doxuanthanh95 commented on #51
I have similar problem, please help me!

[2016-10-08 02:51] ybdesire commented on #137
+1

[2016-10-10 09:27] bincker commented on #137
+1  support!

[2016-10-25 18:14] eighthave opened #197 "release is called 2.0 but setup.py says 3.0"
_setup.py_ includes the line `version='3.0',` but the public release and git tag are 2.0.

Also, looks like quite a bit of new work has been done since the _v2.0_ tag, how about a new release?

[2016-10-25 18:16] eighthave commented on #137
@subho007 how about starting your work in a fork?

[2016-11-03 08:48] AnyPython commented on #178
Hello~
If you have installed it on Linux and want to update an existing androguard to the latest version , you must have root permission.
1.Extract the zip file to a local directory. For example, the location is '/home/username/xxx'.
2.Open the terminal and run command as 'cd /home/username/xxx' on terminal to enter directory. .
3.Run command as 'sudo python setup.py install'  on terminal to updat

[2016-11-30 01:48] ybdesire commented on #193
Anyone can help?

[2016-11-30 09:25] leonid-s-usov commented on #193
Tainted packages are those that are referenced at least once from the code of the application.
This is detected by inspecting every opcode of every code block in the application bundle and looking for types of opcodes that reference fields or make calls to the classes. Then all such cases are collected and the related packages are extracted. (A very generic description of the process, please refer

[2016-11-30 09:50] ybdesire commented on #193
Thank you very much @leonid-s-usov  for your answer. It’s very helpful for me.

[2016-11-30 09:51] #193 closed

[2016-11-30 19:51] subho007 commented on #137
@eighthave we already have a python3 support for androguard :)

Check out: https://github.com/appknox/androguard

[2016-12-01 01:37] ybdesire commented on #137
Cool. @subho007 When can this change be released as stable release?

[2016-12-01 01:50] ybdesire commented on #137
Thanks a lot @subho007 for this branch. It really help us. Any test have been passed on this branch ?

[2016-12-28 04:01] Jack2 opened #201 "Old Docs Issue (ex: VMAnalysis() --> newVMAnalysis())"
`class androguard.core.analysis.analysis.VMAnalysis(_vm)`

I refrenced this class, but error occurred.

so I checked androguard source, then `VMAnalysis()` func changed to `newVMAnalysis()`

but, Document didn't updated. Check Plz

URL : http://doc.androguard.re/html/androlyze.html

[2017-01-06 06:10] #149 closed

[2017-01-09 08:43] simoneaonzo commented on #194
Look at [api_permission_mappings_api22.py](https://raw.githubusercontent.com/androguard/androguard/master/androguard/core/api_specific_resources/api_permission_mappings/api_permission_mappings_api22.py)

Api 22 corresponds to Android 5.1 (Lollipop)

[2017-01-10 02:06] Sophiexuer commented on #194
Thanks.

2017-01-09 16:43 GMT+08:00 SiX110 <notifications@github.com>:

[2017-01-15 02:12] ryantzj commented on #201
The same with this too
http://doc.androguard.re/html/analysis.html

[2017-01-17 04:08] dhilipsiva commented on #108
@subho007 If possible can you close this? Not relevant anymore.

[2017-01-20 11:54] reox commented on #154
It seems that the core androguard was released as Apache 2.0, elsim was released as LGPL as well as the scripts in the / directory:

[code]

[2017-01-26 14:11] reox commented on #190
A lot of stuff was deleted in this commit 6b24ddf7d385e8a9062de7ae95d7e8dfb12f7b1c

I have no clue why the whole Tainted Stuff was removed, it seems it was removed and not replaced. Maybe there is a new method now? Anyone has information on that?

[2017-01-26 14:34] reox opened #203 "remove arm.py"
What does androguard/core/bytecodes/arm.py?
It looks more like a script that was commited unintentionaly

[2017-02-06 13:08] ZippoZeng opened #204 "How to get field value?"
In Java Code：
  public static final String SDK_VERSION = "1.2.0"

how to use androguard to get" SDK_VEDRSION" the value of this field。

[2017-02-14 12:44] reox commented on #204
You mean like:

[code]

This would print out the first field in `Lyour/class/path;` class.

[2017-02-14 12:49] reox commented on #172
What version are you using? VMAnalysis is gone and was replaced by newVManalysis.
Can you check with the newest version?

[2017-02-14 12:53] reox commented on #167
elsim is unfortunately not installed by default when using `setup.py`.
In the setup.py you could add something like
[code]
before you should run `make` to build the libs.
Maybe there is some more stuff to do, e.g. copying the libs to the correct place.
The debian version (https://packages.debian.org/stretch/androguard) uses a patch to install elsim as well with the libs in the right place.

[2017-02-14 16:00] xgusix commented on #192
This has been opened for a while but I am getting the same issue, for some reason the class Session does not have the method 'get_objetcs_apk' even if appears in the file sessions.py.
[code]
This throws an error: AttributeError: 'Session' object has no attribute 'get_objects_apk'

Actually, doing ```dir(s)``` doesn't appear in the list of methods:

[code]
There is no __version__ to be sure what ve

[2017-02-15 09:33] ranjeetsinha13 commented on #160
Something similar issue I am getting it for below app as well
[https://play.google.com/store/apps/details?id=com.nanoo.darksword&hl=en]

The AndroidManifest.xml is not getting parsed using minidom parser. However, if I use lxml it works perfectly fine. Please have a look.

[2017-02-15 10:11] xgusix commented on #192
Okay, it seemed to be a problem with the version. For some reason I didn't remove the previous version from the library, and even if it looked like it was the correct version, a closer look showed me that is wasn't the correct one.

To solve the issue I just needed to remove the old library manually and ```python setup.py install``` androguard again.

[2017-02-16 10:57] ZippoZeng commented on #204
How to get the string "1.2.0"？

[2017-02-16 11:03] reox commented on #204
I think it should be:
[code]

[2017-02-17 09:21] reox commented on #204
You coud try to call the reset() Method on the Session (e.g. CONF["SESSION"].reset())

At least for me that helped sometimes. But still, the RAM gets fuller and fuller. I also want to investiagte in this, but I'm still on the way to make androguard useable with python2/3

[2017-02-18 22:24] cdkorzen opened #207 "Problems with Demo Visitors"
For dad_emul.py and dad_print.py:

-  To run the demos, you must have magicspiral.apk.  They will not work out of the box

Even if you modify them to point to another APK, there are other issues.  For dad_print.py, many of the visitor calls now pass along keyword arguments and so the signatures don't match up:

- visit_base_class
- visit_param
- visit_astore
- etc.

The signature for visit_invoke

[2017-03-06 11:22] subho007 opened #209 "[RFP] Contributor Guidelines"
Creating a Discussion to discuss details on Contribution Guidelines. Feel free to discuss and add/edit the Wiki located: https://github.com/androguard/androguard/wiki/Contributions

We can discuss here for anything else

[2017-03-06 11:43] reox commented on #209
should we define some coding standard? like use PEP8 and reST style comments?

[2017-03-06 13:43] eighthave commented on #209
I'm fine with PEP8, but I'd rather have no PEP8 enforcement than have it
blocking merging the backlog.

[2017-03-10 19:28] #204 closed

[2017-03-10 19:35] reox commented on #190
After looking into androguard a little bit deeper, i found out that the old "tainted" tools are not required, as you can work with the xref stuff now. So for example, where you first would search for all calls of a method, you can now just ask the method for the xref_from list.

For the risk calculation: This part was in my opinion not really reliable and would easily overestimate the risk. Also t

[2017-03-10 19:39] reox commented on #188
for the dyncode and native methods, take a look at the xrefs of classes and methods. You need a list of potential classloader functions and just gather the xrefs of them.

For the permissions, I'm not sure how to get this now. You probably need a list of API functions and their permissions from somewhere and then look for those calls in the `get_external_classes` function of `newVMAnalysis`

[2017-03-10 19:41] reox commented on #182
You can build the documentation locally by using sphinx. I pushed the necessary files in this branch https://github.com/reox/androguard/tree/futurize
Build them with `python setup.py build_sphinx`. You need to have the `sphinx` and `sphinxcontrib-programoutput` package installed.

hth!

[2017-03-10 19:43] reox commented on #201
yep, the page with the documentation is for a really old version, see also https://github.com/androguard/androguard/issues/182

[2017-03-10 19:43] #201 closed

[2017-03-10 19:46] reox commented on #207
yeah, most of the demos are somehow broken because they use an old version of the API.
I think all non-functional demos should be sorted out or at least be marked as non-functional (or use with this and that version only)

[2017-03-10 19:48] reox commented on #173
thanks for providing the bug report and also the patch!
Can you provide also sample hashes for testing?

[2017-03-10 19:49] reox commented on #173
PR available: #174

[2017-03-10 19:52] reox commented on #163
closing as we hopefully get a lot of enhancements soon :)

[2017-03-10 19:52] #163 closed

[2017-03-10 19:54] reox commented on #162
Yes, this is true. I noticed the same thing and saw, that only classes would print xref'd classes.
But the information is still there. You can access it by using `get_xref_from()` and `get_xref_to()` of a `MethodClassAnalysis` Object.

[2017-03-10 20:17] reox commented on #160
@ranjeetsinha13 this manifest is especially nasty... It uses an empty namespace, which gives me an error when using lxml:
[code]
how did you opended it? Did you applied the patches in the PR's?

there are now several PR's for the same thing:
#155 #159 so we need to really consolidate things there...

[2017-03-10 20:18] #194 closed

[2017-03-10 20:18] #192 closed

[2017-03-10 20:33] #165 closed

[2017-03-10 20:35] #176 closed

[2017-03-10 20:37] #154 closed

[2017-03-10 20:39] reox commented on #119
you mean the X509 certificate? yes, use the function `get_certificate(filename)` in the APK class.

[2017-03-10 20:42] reox commented on #133
I documented the dependencies in #208

@dweinstein If you could document how to install androguard on OS X, I would add that to the documentation too. Or would you just suggest to use a docker/vagrant/other VM solution as described in  #156?

[2017-03-10 20:42] reox commented on #137
See also #208

[2017-03-10 20:45] #164 closed

[2017-03-10 20:46] #77 closed

[2017-03-10 20:48] reox commented on #49
No more psyco, i'll close this one :)

[2017-03-10 20:48] #49 closed

[2017-03-10 20:53] reox commented on #183
what do you exactly need? to get a list of all classes use for example `androlyze.py -s` to spawn an ipython shell.
Then use
[code]
to load the APK and get all class names
or
[code]
to print out all method names for all classes

[2017-03-10 20:56] reox commented on #177
ipython 1.2.1 seems to be very old. I'm running debian stretch and got 5.1.0

can you try to upgrade ipython?

[2017-03-10 21:01] reox commented on #133
We should give an overview about the (optional) dependencies for androguard and seperately for elsim. Maybe it is also a good idea to specify minimum versions as seen in #177 and also dependencies for different OS types, like in #156 .

A good starting point is the debian package: https://packages.debian.org/androguard
as well as #208 which states also some dependencies.
The dependencies should be

[2017-03-10 21:04] reox commented on #130
Yes, this should be fixed. There are also other things which should be looked at:
* maximum filename size / path length
* not allowed extensions
* not allowed filenames or unicode chars (are there any?)

[2017-03-10 21:04] #108 closed

[2017-03-10 21:10] reox opened #210 "Arguments decompiler has no effect for AnalyzeAPK and AnalyzeDEX"
the argument `decompiler` for the Functions `AnalyzeAPK` and `AnalyzeDEX` has no effect, as it is not propagated to the session and in `Session` only DAD is used.
Those methods should also support other decompilers

[2017-03-10 21:15] reox commented on #73
those are not the Resource IDs but the CRC32 of the file and a negative value is possible, if the crc32 is interpreted as signed int.
As now zlib.crc32 is used, the result should be an unsigned int: https://docs.python.org/3/library/zlib.html#zlib.crc32

[2017-03-10 21:15] #73 closed

[2017-03-16 08:49] adesnos opened #211 "Remove useless stuff from the repo"
I want to remove non support things like elsim and the dependencies

[2017-03-16 08:52] adesnos commented on #211
+ elf support

[2017-03-16 09:56] #211 closed

[2017-03-16 10:02] adesnos commented on #190
It is not anymore supported !

[2017-03-16 10:02] #190 closed

[2017-03-16 11:01] adesnos opened #213 "Add new depedencies"
We need to specify the installation of:
future
pyasn1
cryptography
pyperclip (gui)

[2017-03-16 11:03] adesnos commented on #213
pygments (gui)

[2017-03-16 11:06] reox commented on #213
sphinx and sphinz-programoutput for documentation
networkx

I added them alread in the README.md and also in setup.py. I think the requirements.txt is only for travis, right? Otherwise i also would add them there

Also related: https://github.com/androguard/androguard/issues/48 and https://github.com/androguard/androguard/pull/142

[2017-03-16 11:13] adesnos commented on #213
ipython for the androlyze

Yep for your question

[2017-03-16 11:24] adesnos commented on #210
You're right ! I will try to fix that

[2017-03-16 11:25] adesnos commented on #203
Fixed !

[2017-03-16 11:25] #203 closed

[2017-03-16 11:58] reox opened #216 "DAD dataflow tests are failing on py3"
because the hash of dictionaries is now randomized, the ordering of keys is not so deterministic as in python2.
I assume therefore those tests fail.

Need to check if this is really the case and probably adopt the testcases to just check for exsistence and not for ordering as well.
[code]

I noticed, that one of the tests would actually work sometimes, so this is a strong indicator that it has to

[2017-03-16 12:27] #213 closed

[2017-03-16 12:27] #197 closed

[2017-03-17 05:37] feicong opened #218 "androdd.py run error with arg '-f png'"
[code]

pydot and graphviz has already installed.

[2017-03-17 06:05] adesnos opened #219 "Refactor analysis file"
We need to refactor this file a lot to have something 'stable' :) with examples too

[2017-03-17 06:11] #181 closed

[2017-03-17 06:13] adesnos opened #220 "Move log message to a python library"
Hi,

right now there is multiples things in the code like 'print'/'debug' etc but with no consistency.

We should use a python library to handle that. Any idea ?

[2017-03-17 06:16] adesnos commented on #216
Geoffroy, do you want to take a look or reassign to someone else ?

[2017-03-17 08:59] adesnos opened #221 "Taint analysis"
Taint analysis could be really useful in Androguard and could reduce significantly an analysis.

Let's do:

- [ ] quick review of the algorithm we want to add
- [ ] first version of a generic support in the analysis to improve/change the algorithm
- [ ] add the corresponding code in the GUI

[2017-03-17 09:20] eighthave commented on #220
I know of two good options:
* _warnings_ which provides compiler-style warning/error messages
* _logging_ which provides syslog style logging, like for daemons

The choice depends on how people are reading the logs, and what its reporting.  Seems like androguard has more compiling/decompiling interactions than process/daemon interactions, so my guess is that _warnings_ will make more sense.

[2017-03-21 10:58] reox commented on #188
@adesnos this function was used quite often I think. Is there still a way to get the permissions for all used API functions?
I think what one needs to do is, uise the api_permission_mappings and intersect that dictionary with the external classes.

[2017-03-21 12:15] reox commented on #220
Thats a hard question to answer... If you are using androguard in a automated way, you probably want the logging classes, as you can then put all the stuff into your own logfile. For standalone/ipython style working the warnings are probably better but must be propagated to the user correctly, e.g. when using the GUI.

[2017-03-21 13:53] reox opened #222 "Permission Analysis"
It seems to me, there are a lot of places where permission information are stored. Also it is unclear to me, how we can now check what methods uses a permission.

In androguard/core/bytecodes/api_permissions.py, the return type is not specified but otherwise it seems to work for me using this workaround:
[code]

Then there are the files in androguard/core/api_specific_resources/api_permission_mapp

[2017-03-21 14:46] eighthave commented on #220
The messages can be sent wherever with both libraries, its more about
the style of the logging messages, and whether you need levels like
error/warning/debug or
emergency/alert/critical/error/warning/notice/info/debug.

[2017-03-21 14:52] subho007 commented on #220
We can simply use `from logging import warn, info, error, debug` These gets propagated properly. If any other tools imports androguard, the errors are properly propagated even if a custom classes are made. Do you want me to work on it @adesnos ?

[2017-03-24 06:05] subho007 commented on #221
This is awesome. We did had Taint Analysis in Androguard 2.0 why did we remove it in the first place @adesnos ?

[2017-03-24 06:18] subho007 commented on #160
@reox will try to test this out

[2017-03-29 10:52] reox opened #223 "Slow androguard start due to import of api permission mappings"
I noticed that impoting something from androguard takes some time. In my case, it can take up to 5 seconds.
I narrowed it down to the imports of `androguard/core/api_specific_resources/api_permission_mappings/api_permission_mappings.py`, where each import of an api needs about 0.5 seconds.

It seems to me, that this dict is not used beside in the `load_api_specific_resource_module` function. Maybe

[2017-03-30 07:30] reox commented on #173
I think I found the app you mentioned: SHA256 cd260a0f59d6dc31475e90fb5e47f0d50305e66617c2146c1dc5240758ab5671

Looks good to me.

[2017-03-30 07:46] #173 closed

[2017-03-30 08:53] reox commented on #221
I think the xrefs replaced a lot of it? I rewrote parts of my tools that used tainted to use xrefs which works pretty good (but it is a little bit harder to use...)

[2017-03-30 09:30] reox opened #224 "Multiple MAIN/DEFAULT/LAUNCHER Activities"
Here is an example of an app which defines multiple Launcher Icons and also multiple MAIN Activities:
SHA256 da5a676e1d68b9548fb44fc25f553611e450034d9bc8823db24d30fece880841 (can be downloaded from koodous)

Maybe there should be also functions to get all active main activities and all icons...

[2017-03-31 08:07] hallucino commented on #221
@subho007 It was not really good and took a lot of memory.

[2017-03-31 08:08] adesnos commented on #221
@subho007 I removed it because it is inefficient, took a lot of memory and we need a clear design

[2017-03-31 08:08] adesnos commented on #223
+1

[2017-03-31 08:18] #223 closed

[2017-04-05 08:14] alejandrodnm opened #226 "New release on pypi"
Hi could you upload a new release on pypi? I'm currently using the github commit in my requirements file since the latest release it's almost 2 years old and does not support python 3

[2017-04-05 18:38] reox commented on #210
Today I found out, that in DalvikVMFormat you can also set the decompiler, but it will not have much effect, as the arguments to DecompilerDAD are a DalvikVMFormat and Analysis.
Therefore I think you can also remove this argument from DalvikVMFormat? Otherwise you would have some cyclic dependency...

[2017-04-06 06:25] reox opened #227 "Slow decompiler due to repeated list creation"
I wrote a small test script (see https://github.com/reox/androguard/blob/speedtests/speedtest/test_decompiler.py) to check why the decompilation of an APK would take so long.
I found out, that inside dvm.py especially the methods are read quite often but this list is generated for every call. Also in the Analysis class, the MethodAnalysis Objects would be generated on the fly.

For some random APK

[2017-04-06 10:02] reox opened #229 "APK object can not be serialized - fails on Session save"
it seems the tests for python3 fail because inside the session there is a unserializable object: https://travis-ci.org/androguard/androguard/jobs/219215545#L263

I do not see directly, where this object comes from... The only threads are in the Analyse class for xref'ing. Does anyone see the problem here?

[2017-04-07 16:05] deadeert opened #230 "Error Nonetype has not attribute source():wq"

[2017-04-08 09:48] zhouat opened #231 "Save modified APK object as new file"
Currently, androguard can save & restore the modified session, this feature is good. Can this powerful tool save the modified (class 、method rename ) old.apk to new.apk , too?

[2017-04-10 07:03] reox commented on #230
Please provide some _useful_ information, where this error happend, on which file, doing what...

Thanks!

[2017-04-10 07:05] #230 closed

[2017-04-10 11:39] reox opened #232 "If method process fails, the Exception is ignored"
In https://github.com/androguard/androguard/blob/master/androguard/decompiler/dad/decompile.py#L261 the exception of the processed method is caught and never raised.
This causes problems, if some error occurs while decompiling. Then the resulting source will be broken.

It really depends on the analysis method, what you want in this situation.
For me, where I mostly dump the whole source, it is ce

[2017-04-10 15:47] #216 closed

[2017-04-12 02:56] Adhiraj1234 opened #233 "help ! give me idea how to use androguard in anaconda for reverse engineering"
i downloaded the zip file to all the files of androguard here
can anyone tell me how to install it in windows
i have no idea please help
and how to run it

[2017-04-12 11:30] berfintanriverdi commented on #52
i have the same problem.Is there still no solution to this?

[2017-04-12 12:57] berfintanriverdi opened #234 "AttributeError: 'DalvikVMFormat' object has no attribute 'dotbuff'"
when i run this command ->
"./apkviewer.py TheTruthSpy_7.7.apk -o ../cikti2" i got this error message:

AttributeError: 'DalvikVMFormat' object has no attribute 'dotbuff'

What can i do? this is important for me .please help

[2017-04-12 12:59] berfintanriverdi commented on #233
Are you try this?

"Using Windows

Using Anaconda with python3, most of the used packages are pre-installed.

Additional packages, that might be required are:

pyperclip sphinxcontrib-programoutput future pydot

You can simply run

python setup.py install

to install androguard.

and

python setup.py build_sphinx

to create the documentation.
"

[2017-04-14 06:53] reox commented on #234
Do you know a version of androguard where this worked? Seems like the dotbuff method was removed someday...

[2017-04-14 07:21] reox commented on #234
I found out, it was removed in e0dd6b223ce97250e5aae34b90dfd7fbd7eb6f2a.

I think a quick fix would be:
[code]

As this is the only occurence of dotbuff everywhere... The other question is, if  apkviewer is still working, as it was removed, also with the dependency of ganalysis...

[2017-04-14 07:26] reox commented on #233
As @berfintanriverdi  already mentioned, there is already some information in the documentation.

You might need to install the packages by hand, e.g. `pip install future` before installing androguard.

Make sure you run it as Administrator, if you did not install Anaconda only for your user.

If something does not work during the installation process, please feel free to open a new ticket!

[2017-04-14 07:26] #233 closed

[2017-04-14 09:17] reox commented on #137
I think this can be closed now ;)

[2017-04-14 09:17] #137 closed

[2017-04-20 08:02] reox commented on #171
You can get all external classes (which are basically all Android SDK and Java Libs that are not defined inside the dex itself) by using `dx.get_external_classes()` - which returns a generator object of `androguard.core.analysis.analysis.ClassAnalysis`.

Does this answer your question?

[2017-04-20 08:04] reox commented on #158
I think (but never tested it) that multidex is implemented already. Each DalvikVMFormat is for a single dex file only, but the Analysis object can handle multiple dex files and also reference between them.

[2017-04-20 08:07] reox commented on #147
Yes, elsim is at the moment completly broken and also was removed from androguard lately. I filter branched elsim from androguard (https://github.com/reox/elsim) and you can still check out an old version of androguard and use it with elsim - but of course you can not use the newest features of androguard then...

[2017-04-20 08:07] #147 closed

[2017-04-20 08:12] reox commented on #180
The problem with the permission analysis is the missing references between API calls and permissions.
AFAIK there is no official way of getting the permissions and they are collected by pscope - which seems to be not reliable in some situations.

Does anyone know a good and reliable way of collecting the permissions? Also, this data needs to be updated for every new API release...

[2017-04-20 08:14] reox commented on #167
as elsim is removed, i'll close this ticket for now

[2017-04-20 08:14] #167 closed

[2017-04-20 08:15] reox commented on #166
this might be also the case for wrong permission/api calls mappings...
related: #180 #222

[2017-04-20 08:17] reox commented on #139
I think most of the demo scripts are broken. It would be really nice to have working examples in a wiki or so...

related #96

[2017-04-20 08:17] #119 closed

[2017-04-20 08:21] reox commented on #188
related #222 #180 #166

[2017-04-28 03:47] cdkorzen opened #235 "DAD generates incorrect graph and uses wrong node for a switch's follow property"
I'm reverse engineering a large function, and DAD is using the wrong node to follow the switch.

The method is essentially a resource loader.  It does a switch on one of its arguments, and then in most or all of the cases tries to open a file.  It reads/processes that file, then breaks.  Before the function exists, it tests if the file variable is not null, and if so closes the file, otherwise jus

[2017-05-09 19:02] matlink opened #236 "Push to pypi"
Since today, `pip install androguard` fails due to `distribution` dependency which is deprecated.
I saw that you have changed it by `setuptools`. However the pypi version stills have the old `setup.py`.
Could you please push to pypi?

[2017-05-09 19:51] subho007 commented on #236
@adesnos you can push it to pypi

[2017-05-23 03:24] 18z opened #237 "get_certificate() error"
Hi @reox

In this [commit](https://github.com/androguard/androguard/commit/460076a0050b1e02b94bd197542c24fa614d9325#diff-ccb060c0dbd91f494fe6a7957713cb00), chilkat certificate parsing was removed and was replaced by pyasn and cryptography.
However, when I try to use  get_certificate(). The following error shows.

[code]

I use Python 2.7.6

Anything I missed to make this method work? : )

[2017-05-23 06:46] reox commented on #237
You are right. In python 2 encode returns a str, and cert[1] returns a str as well. In python 3, encode returns bytes, thus cert[1] is an int.
But load_der_x509_certificate can not work with bytearrays, so I'm thinking about a clean solution here...

[2017-05-23 08:29] zhufx commented on #218
I have the same issue , Is there any contributor can fix this？

[2017-05-23 10:03] reox commented on #218
It seems androdd has some more problems. I have unicode related errors all over the place. I think I found most of them now but I get some OOM errors...
[code]

But never this one.
Can you share the APK or hashes? It might be a problem with a specific APK only...

[2017-05-23 10:27] reox opened #239 "travis python2.7 is failing because of ipython dependency"
Looks like ipython 6 dropped python2 support and travis does not like to install something else:
[code]

Who has travis$foo and can fix this?

[2017-06-05 01:52] zhufx opened #241 "How to get CFG (control flow graph) of whole android application?"
I read some paper about android static analysis , some said that they use androguard to extract CFG of whole android application.However, I can't find any method/API  about this. Can someone show me how to do this ? Thanks a lot ^_^

[2017-06-05 02:10] zhufx commented on #241
@reox @adesnos  Please give me a hint^_^

[2017-06-05 09:51] zerjioang commented on #241
@zhufx  you may need to take a look to **this** androguard post.

Please, check this out: https://androguard.blogspot.com.es/2011/02/android-apps-visualization.html

[2017-06-05 14:49] zhufx commented on #241
@zerjioang I have seen this page before. But I can't find androxgmml.py after androguard 2.0.
Then I find that APKViewer.py and androdd.py can generate the CFG of one class. It seems that there is no link between CFGs of different classes. What I want is a whole CFG of an android application which contains the link of different class' function call relationship, not separate CFG of  one method or

[2017-06-05 15:40] reox commented on #241
I'm not completly sure, as I never used androguard for CFG generation, but it might be the case that there is currently no script that can generate this, as the API changed a lot.
What you can still do is either use an old version of androguard that has the scripts or write your own script using the current API.

[2017-06-06 16:40] ajilling commented on #241
If you install v1.9 or lower, you can just call
`python apkviewer -i <path_of_first_apk> -o <path_to_output_folder>`

Demo shown here in  part 4 http://www.technotalkative.com/part-2-deep-analysis-using-androguard-tools-2/

Since ApkViewer was either moved or deprecated in v2.0, I'm still trying to figure out how do it there. Will post here if/when I do.

[2017-06-06 20:11] ajilling commented on #241
@zhufx I had the same issue with creation of multiple classes with CFGs. Again, it's a weird versioning issue. If you use the version in this link, it will create a single graph of the entire program in grapheml format.

[https://code.google.com/archive/p/androguard/source](https://code.google.com/archive/p/androguard/source)

[2017-06-07 09:19] reox commented on #241
code.google.com is totally obsolete. It's better to use the versions from here https://github.com/androguard/androguard/releases
I think the 1.9 version should still have all the features, maybe you can use 2.0 as well.

[2017-06-07 09:21] reox commented on #218
@feicong and @zhufx can you check if the fix supplied in #240 works for you?

[2017-06-08 07:48] zhufx commented on #241
@ajilling  Thanks for replying.
I have used apkviewer at androguard at v2.0. It seems that apkviewer can generate the graph of function call and it can also generate the CFG of one function in graphml format.(However the instructions in CFG not display well)
![image](https://user-images.githubusercontent.com/10691415/26917690-d5f946c6-4c61-11e7-90d8-7fc6d28f05f0.png)

[2017-06-08 07:57] zhufx commented on #218
@reox OK, How do i get the code that fixed this issue ?

[2017-06-08 09:40] reox commented on #237
I believe this is fixed now, if the error still persists then please reopen the ticket

[2017-06-08 09:40] #237 closed

[2017-06-08 09:42] reox commented on #218
you can use: `git clone https://github.com/reox/androguard.git -b reox-unicodeandrodd`to clone the branch where I commited the changes.

[2017-06-10 11:23] zhufx commented on #218
@reox  It works very well ! Thank you!

[2017-06-10 14:12] zhufx opened #243 "How to get details of instructions?"
Recently , I use Androguard for some static analysis research and get some problems.
Eg:  I get an instruction like below.It is a function call statement. ( ClientActivity is the class that implements startDeviceSearch() method )

![image](https://user-images.githubusercontent.com/10691415/27003379-0380fe1e-4e28-11e7-9f8d-682e56044a72.png)

Androguard has convenient api get_output() to reach addit

[2017-06-10 15:08] #239 closed

[2017-06-10 15:19] Rafiot opened #245 "Python3 bug in constwidehigh16"
I didn't investigate much, but this is what happen when calling this method in viper: https://github.com/viper-framework/viper/blob/master/viper/modules/apk.py#L142

The stack trace: https://travis-ci.org/viper-framework/viper/jobs/241524912#L833

And the APK file: https://github.com/viper-framework/viper-test-files/blob/master/test_files/hello-world.apk

[2017-06-10 15:29] reox commented on #245
I think you just hit this bug i found some while ago in theory: #45
I never found a sample where this happend... so it should be easier now to fix it!

[2017-06-10 15:30] Rafiot commented on #245
Happy to help, and thanks! :)

[2017-06-10 16:51] reox commented on #229
It seems like this is bug which happens when using python 3.6 or 3.7-dev. It is not happening in python 3.3, 3.4 and python 3.5.

python 3.2 fails for other reasons and in python 3.4 another test is failing.

See #246

[2017-06-10 17:12] reox commented on #229
Anyone has an idea what has changed between python 3.5 and 3.6 that there is this RLock object now somewhere in the Session? It looks like it is there because of the use of Threading in analysis module...

[2017-06-10 19:09] #218 closed

[2017-06-11 15:11] reox commented on #229
So I found the issue is actually inside the APK Class.
The field `zip` is a `zipfile.ZipFile` and in python 3.6 there is a field `_lock` on that one...

Here is an example:
[code]

Now the question is: Is this a bug in ZipFile?

[2017-06-11 16:25] reox commented on #229
Okay, this one is an issue now. Found out that actually RLock's should not be allowed to pickle in versions <3.6: https://bugs.python.org/msg284751

Which means that the whole session storing should be changed.

[2017-06-11 16:47] #229 closed

[2017-06-11 16:50] #177 closed

[2017-06-11 16:51] reox commented on #226
duplicate to #236

[2017-06-11 16:51] #226 closed

[2017-06-11 16:56] #183 closed

[2017-06-11 16:56] #171 closed

[2017-06-11 17:00] reox commented on #145
The question is, if it is ever necessary to get the certificate chain. Usually the certificates are self-signed.

Does this work better when using the new approach with cryptography and pyasn1?

[2017-06-11 17:04] reox commented on #132
@victorchoy can you check with the current master branch? I changes some bits and this one could be fixed as well by now.

[2017-06-11 18:06] reox commented on #245
I tried to reproduce this issue using this program and your APK:
[code]

But I do not get the error.

Can you tell me in which method this one fails?

Maybe this one is already fixed, as your line says:
[code]
and is missing the `b`: https://github.com/androguard/androguard/blob/master/androguard/decompiler/dad/opcode_ins.py#L288
which was fixed here: https://github.com/androguard/androguard/commi

[2017-06-11 18:11] reox commented on #172
@2048li and @jjooeey can you check if this problem still persists? If possible, please supply the APK files as well.

[2017-06-11 18:12] reox commented on #157
as elsim is not supported anymore, I'll close this one

[2017-06-11 18:12] #157 closed

[2017-06-11 18:12] #139 closed

[2017-06-11 18:14] reox commented on #133
I think the requirements are now good.
If you like to write setup instructions for other OS, feel free and create a PR!

[2017-06-11 18:14] #133 closed

[2017-06-11 18:16] reox commented on #140
@lorinwu is this one now fixed or is it still an issue?

[2017-06-11 18:52] Rafiot commented on #245
It is probably related to the cache on travis... I just deleted it and re-ran the tests, we will know in a few min.

[2017-06-11 19:06] Rafiot commented on #245
My bad, it works... Sorry for that.

[2017-06-11 19:06] #245 closed

[2017-06-12 06:15] #69 closed

[2017-06-12 06:17] reox commented on #58
@JonathanSalwan is this one still an issue? If it is, would it be possible to share the APK file?

[2017-06-12 06:24] reox commented on #45
probably this one is fine - maybe one should write a test for it and see what it does?

[2017-06-12 06:35] reox commented on #148
@ranjeetDT @leonid-s-usov Can you check if this one is still an issue? I think the unicode errors are gone now?

[2017-06-12 06:46] #234 closed

[2017-06-12 08:20] JonathanSalwan commented on #58
@reox, "`Jan 20, 2015`", sorry man, i don't have this APK anymore and i don't know if it's still an issue or not.

[2017-06-12 08:37] zhufx commented on #243
I think I have found the correct API to get details of instructions^-^

`cm = DaivilkVMFormat.get_class_manager()
 ref_kind = instruction.get_ref_kind()
 method = cm.get_method_ref(ref_kind)
 print method.get_name()   #get the method name
 print method.get_class_name()  #get the class name that implement method`

The document of androguard is too brief , some make confused . Maybe it can be a futu

[2017-06-12 08:40] reox commented on #58
thanks for checking, if you encounter it again, feel free to reopen!

[2017-06-12 08:40] #58 closed

[2017-06-12 08:45] reox commented on #243
nice to hear!

I agree, there are too few examples. If you like you can put this into a short demo script and create a PR?

[2017-06-12 08:55] zhufx commented on #243
OK , I will have a try.

[2017-06-12 08:58] #243 closed

[2017-06-12 09:04] ranjeetDT commented on #148
@reox : This seems to be fixed. You can close it.

[2017-06-12 09:04] #148 closed

[2017-06-12 09:24] reox commented on #182
I changed the docs folder in such a way that it would build on readthedocs: http://androguard.readthedocs.io/en/latest/

[2017-06-13 01:23] 18z commented on #237
@reox

Thanks : )

[2017-06-13 06:22] baolingfeng commented on #188
Hi, I want to use the function show_Permissions(), but find it has been removed in the latest version of Androguard. I look into the commits of this repository and find it was removed in the commit 6b24ddf7d385e8a9062de7ae95d7e8dfb12f7b1c .

Are there any new APIs that have the same function as show_Permissions?

please kindly advise. Thank you very much!

[2017-06-13 11:22] reox commented on #188
Have a look at the code here: https://github.com/androguard/androguard/issues/222

But the permissions mapping is not correct/complete. So use it with caution.

[2017-06-13 11:28] reox opened #249 "Add more examples to the getting started section in docs"
To give all users a good starting point, we should populate the docs.

It would be nice to have some "Getting started" section, listing a few examples:
* How to get xrefs
* get resources
* print all classes using X
* find all API calls using a permission
* ...

[2017-06-13 11:30] reox commented on #236
I think the master is good, but maybe has some flaws. Also there are a lot of API changes which might confuse the users.
I had to rewrite several parts of an application which used androguard completly, thus it might be good to wait until we have a stable documentation?

[2017-06-13 12:51] reox opened #250 "simplify configuration and use proper config files"
If androguard is installed as a python package, it is not so easy to edit the configuration without reinstallation.
It would be better to have the configuration optional as config file in certain places, like /etc/androguard, ~/.androguard, ...
The whole CONF dict in https://github.com/androguard/androguard/blob/master/androguard/core/androconf.py#L33 could be put into a ini/json/yml/... file and

[2017-06-14 08:11] Roznack opened #251 "Risk calculator"
There is any feature in the latest androguard release for risk calculation?

[2017-06-14 08:17] reox commented on #251
No, it was removed because it is not very reliable.

The easiest thing is to define your own risk function, where you define what a risk is in your context.

[2017-06-14 08:17] #251 closed

[2017-06-14 08:48] reox opened #252 "Generate new API Permission mappings"
We should generate the newest permission mappings.

How was this done in the past?
Can we automate it?
Is there any new, better tool we can use?

* [x] Generate new Permission Mappings
* [x] Generate System resources for AXML
* [x] Generste System Resources for references in resource files
* [x] Generate new Permission lists, check not only the Manifest of the framework but all framework tools.
*

[2017-06-17 23:05] cdkorzen commented on #172
I had this issue.  In my particular case, I was analyzing an APK that I had broken apart, made changes, and rebuilt.  I found out that in the session object's `add` method calls `androconf.is_android_raw()`.

`is_android_raw()` looks at the first few characters to determine the type of the file.  BUT, if it starts with `"PK"` (i.e. it's a zip), it also looks for the string `"META-INF/MANIFEST.MF"`

[2017-06-17 23:33] cdkorzen opened #253 "EncodedField and EncodedMethod have no method '_reload'"
### Describe what you wanted to do
I wanted to call the method `set_name()` on an EncodedField, and later on an EncodedMethod, to set the in-memory name for a method that had been set to a single-letter, presumably by ProGuard.

- is this error specific to a single file?
Yes, andguard/core/bytecodes/dvm.py

- if possible give a minimal working example where the error happens
Presuming you have an

[2017-06-19 10:00] reox opened #254 "float conversion in Instructions get_formatted_operands"
I tied to fix the test_types.py testcase, but it seems that the test would fail even before.
### Describe what you expected

All const opcodes should return integers (as in fact in dalvik there is no difference between long, float, double or int).

### Describe what actually happened

I found out that in the Instruction classes, sometimes the operand is cast into a float, sometimes it is not.
This

[2017-06-21 09:08] eighthave commented on #252
I'm not entirely clear what "API Permission mappings" means.  Do you mean these from _AndroidManifest.xml_?
* `<uses-permission>`
* `<uses-permission-sdk-23>`
* `<permission>`
* `<permission-group>`
* `<permission-tree>`

[2017-06-21 09:15] reox commented on #252
No, there is a reverse mapping of API Calls to Permissions. For example https://github.com/androguard/androguard/blob/master/androguard/core/api_specific_resources/api_permission_mappings/api_permission_mappings_api22.py

As google does not provide those information, there are some crawlers to just search in the documentation and create those files. Some tools are mentioned here: https://stackover

[2017-06-21 09:18] reox commented on #253
@cdkorzen can you check if the PR resolves the issue for you?
thanks in advance!

[2017-06-21 09:56] eighthave commented on #236
I see there is already 3.0.1 on pypi.  It would be great to have a git tag that matches that release, a signed tag would be even better :smile:. So like `git tag -s 3.0.1 -m "tagging v3.0.1 release" 01234567`

[2017-06-21 09:58] reox commented on #236
unfortunately the version on pypi is not our release but this fork: https://github.com/jbremer/androguard

[2017-06-21 11:14] eighthave commented on #236
@jbremer can we get all synced up so that there is only one androguard?  There has been a ton of great work here since your fork.

I guess the next release from this repo should probably be called 4.0 or 3.1 to avoid the 3.0 confusion.

[2017-06-21 11:16] jbremer commented on #236
Sure thing - let's bump to `3.1`? I'll give it a look soon'ish.

[2017-06-21 11:19] eighthave commented on #236
Excellent!  My inclination would be to say 4.0 because there has been quite a bit of work recently.  In case you haven't seen it, there is now a working python3 port, and its nearing completion for a release.  But 3.1 is also fine.

[2017-06-21 11:25] jbremer commented on #236
I haven't seen that yet, no :) I'm personally not big on bumping major versions, but provided this is not my project I'll let that decision up to you guys. FWIW, I sent @adesnos an email exactly one year ago (30/6/2016) that I can add him to the PyPI repository so that he can release updates as he sees fit - that offer is naturally still on the table.
What do you think about improving the unit tes

[2017-06-21 11:44] reox commented on #236
Tests are always welcome ;)

I tested most of the py3 stuff by running analysis and decompilation in thousands of APKs. I then collected all exceptions.
The problem is, it takes ages..  About 2 weeks for 1k apks...

[2017-06-22 05:45] reox opened #257 "Use third party APKs for tests?"
Sometimes I find issues with APKs. It would be neat to use them as a unittest, because they have some unique properties (like no App name or missing resources file).

@androguard/external-contributors: Does anybody know what the legal status is, if we use such APKs as a test and publish them in the git repo? What about malicious files?

[2017-06-22 05:57] #253 closed

[2017-06-22 09:47] eighthave commented on #257
Officially, if it does not have a free software license or a license
that allows redistribution, then you cannot redistribute them.  I think
standard practice is to freely share malware files, but random real apps
would be more clearly not allowed.

There are thousands of APKs in f-droid.org, any and all of those can be
freely redistributed.

[2017-06-22 10:16] reox commented on #257
true. I'll see if there are any "exotic" files in f-droid. The problem is that usually malware and paid apps are the source of problems :D

[2017-06-22 11:16] reox commented on #257
f-droid would be an interesting test field, as the sources should be available.
We could build some test to see how far off the results are.
For the xml decompilation this should be easy, for real source code I doubt there is a good solution...

[2017-06-22 11:22] reox commented on #172
I see. That makes sense.
It would be probably easier to change the detection from `META-INF/MANIFEST.MF` to `AndroidManifest.xml`, as this file should exists in any case.
Also the return code of `Session.add` should be checked in `AnalayzeAPK` because a return of `False` would indicate that the file could not be processed.

Have you tried to load the file manually using `APK`? it should probably w

[2017-06-22 11:36] adesnos commented on #257
I think you could setup a repo outside of Androguard to host these APKs, and in the test you could download on the fly these apps for testing.

[2017-06-22 11:38] reox commented on #172
@2048li @jjooeey @cdkorzen I added a PR ( #259 ) which should resolve the issue for APKs that are not signed. Can you check if this fixes the issue for you? Thanks in advance!

[2017-06-22 11:42] adesnos commented on #236
@jbremer sure you can give me access and @reox too if possible !

[2017-06-22 13:50] reox opened #260 "Can not get app_name if default_config is used"
### Describe what you wanted to do

It seems to be an issue for com.teleca.jamendo_35.apk, downloaded from https://f-droid.org/repository/browse/?fdfilter=Jamendo&fdid=com.teleca.jamendo

### Describe what you expected

`APK.get_app_name()` should return Jamendo.

### Describe what actually happened

[code]

When the default config is not passed, one can get the Jamendo String:
[code]

I'm not sur

[2017-06-23 04:06] cdkorzen opened #262 "Question regarding change in decompiler output between v2.0 and latest"
When I ran the decompiler after switching from the 2.0 tagged release to the master, the output changed fairly radically.  It's not apparent to me just why that happens.

It seems that DAD was updated to be much more literal.  Compound expressions are broken down and the version attachment to the variables is gone.  It can sometimes affect readability, like how
in v2.0:
[code]
now is
[code]

Any t

[2017-06-23 07:38] reox commented on #262
The only change I noticed was regarding the decompilation of methods. There is a try/except all clause which results in not complete classes: https://github.com/androguard/androguard/blob/master/androguard/decompiler/dad/decompile.py#L264

I'm not sure where this comes from - have you tried to bisect the commits to see where this gone wrong?

[2017-06-23 09:31] reox commented on #262
Yep, i can confirm this one:

[code]

Makefile:
[code]

decompile.py
[code]

decompile_old.py:
[code]

[code]

Python3 is the current master, where python is the version from debian (2.0).

clearly something changed.

[2017-06-23 09:47] reox commented on #262
Bisecting the commits, it seems it was introduced in 7c8e615607666fa98fbad09b5d3c7650651ce096

The problem is, that the commits afterwards do not work, as there are syntax errors and then it starts.

The first commit that produces again source code is b3ff2a0
but only the class frame is decompiled:
[code]

In 3604ecd this was resolved but the methods do not print pretty but in the new "expanded" f

[2017-06-23 11:37] reox commented on #262
Okay I found the cause at least...
https://github.com/androguard/androguard/compare/8da45ea5e5f1ebdbd7616f8bcf3f3ad883f40db5...3604ecd#diff-d0e286b6e60779f198414dca0da566b1R18

If you remove this line it works as expected.
Looks like the builtin.zip behaves quite different... Need to investigate more ;)

[2017-06-23 12:39] reox commented on #262
It wasn't so easy to find ;) But I think the PR should fix the problem.
I'll add a testcase too later...

[2017-06-23 15:00] reox commented on #235
Is it possible that this one got fixed as well with #263 ?

[2017-06-24 04:14] cdkorzen opened #265 "Renaming fields/methods and shared strings"
I wanted to rename a class method's name by using the EncodedMethod object's set_name member function.  While the change would not be written back to the APK, DAD and Xrefs would see the new name.

I expected the method's name to change, the function to be in the Python namespace with that new name, and to not rename other methods.  Instead, I found the names of methods throughout the APK were cha

[2017-06-24 08:44] #262 closed

[2017-06-24 08:44] #172 closed

[2017-06-24 08:46] reox commented on #265
Is this one related to #253 ?
Maybe there is just more to do than just have the correct method names...

[2017-06-27 07:32] reox opened #266 "Support android: package names in AXML references"
### Describe what you wanted to do

Found this error in this file: https://koodous.com/apks/2d63a7a21ee757b08c747ae1857458a24c8cf84b30d56f3fe643cdfa8466dc71

[code]
throws:
[code]

### Describe what you expected

this ID is in the default android: package. Therefore it should return the default icon.
the ID resolves to `sym_def_app_icon` for API 23.

### Describe what actually happened

Androguard

[2017-06-27 09:40] reox commented on #252
related #266

maybe we should generate the android package resources as well.

[2017-06-27 10:04] reox commented on #216
For fun, I tested on pypy-5.3.1:
https://travis-ci.org/androguard/androguard/jobs/247450715#L320

It fails there for a similar reason.

[2017-06-29 07:13] ranjeetDT opened #268 "Unicode errors when trying to get DalvikVMFormat for any dex file containing unicode characters."
### Describe what you wanted to do

- When I try to get the DalvikVMFormat for any Dex file containing unicode characters.
e.g. Try the following code on this apk [WellsFargo Tablet](https://play.google.com/store/apps/details?id=com.wf.wellsfargomobile.tablet)

self._androguard_app = apk.APK(self.get_path())
        for dex in self._androguard_app.get_all_dex():
            _vm = dvm.DalvikVMForma

[2017-06-30 08:19] jimmy-sonny opened #269 "create_tags"
The "create_tags" method in "androguard/androguard/core/analysis/analysis.py" has been removed from the last release 2.0. Hence, the method get_tags of MethodAnalysis raises an Exception if called.

In order to test it, execute tags.py in androguard/demos/

[2017-06-30 12:48] cdkorzen opened #270 "Error handling in AnalyzeAPK"
When I had an error like the one described in #172 and fixed by #259, AnalyzeAPK returned None instead of a tuple.  I called it like `a,d,dx = AnalyzeAPK` and when it failed, got an error that NoneType wasn't iterable.

Should the way the loading handles errors be different?  For example, if AnalyzeAPK fails, should it return `None, None, None` instead of None, so that it doesn't cause an exceptio

[2017-06-30 13:00] cdkorzen commented on #265
It's possible the two are related, but I think there are a few fundamental differences.  #253 was just calling methods of objects that weren't there or renamed.

The issue here is deeper: the way I think about it, `DalvikVMFormat` is a very direct translation of the DEX file.  It retains indices to objects, such as storing string indices for function names.  When you update the name, it very liter

[2017-07-04 08:04] reox commented on #270
I think raising an exception is the way to go. I'm usually against guarding too much (see also #232 for example).

[2017-07-04 08:06] reox commented on #269
I would take all demos with a grain of salt. There is a lot of stuff that was changed or removed, maybe because it was not reliable enough?
I'm not sure why create_tags was removed, maybe because it depended on the tainted analysis?

[2017-07-04 08:32] reox commented on #268
Okay, this one is a python 2.x error only. I'll take a look at it!

[2017-07-04 08:38] reox commented on #92
It looks like this one was fixed, right?

If not, please reopen.

[2017-07-04 08:38] #92 closed

[2017-07-04 11:45] reox opened #271 "methods in DalvikVMFormat throws error must be str not bytes"
### Describe what you wanted to do
Testing API functions on F-Droid Samples.
When calling the method `get_format` in `DalvikVMFormat`, it throws an error.

### Describe what actually happened

[code]

This error is not unique to a single file but to all dex files. It looks like `self.pad` is a `str` but `pack` produces `bytes`.

there are similar bugs in other methods too:

[code]

[code]

and pro

[2017-07-04 14:35] reox opened #272 "no map_item in data_off_obj in DalvikVMFormat"
### Describe what you wanted to do
When calling save() on a `DalvikVMFormat`, a map_item on data_off_obj could not be found.

### Describe what you expected

save should return a valid DEX file

### Describe what actually happened

[code]
Its interessting, that sometimes it works, sometimes it does not. If you remove map_item and just get the length of data_off_obj, it fails sometimes because:
[co

[2017-07-06 11:22] reox opened #273 "Change xml.dom.minidom.Document to xml.etree.ElementTree for AndroidManifest.xml?"
What are the pro's and con's of switching the XML parser to xml.etree.ElementTree?

I would like to have a faster access to the xml file for example with xpath. Maybe we should even go to lxml?

But it is quite easy to transform it by your own:
[code]

[2017-07-07 00:25] lucasduffey opened #274 "androguard should have a version field"
for reproing bugs, it would be nice to have the following functionality

[code]

[2017-07-07 07:25] #274 closed

[2017-07-07 16:55] lucasduffey opened #276 "AXMLParser object is not an iterator error"
[code]

[2017-07-07 16:58] #276 closed

[2017-07-07 17:01] lucasduffey commented on #276
this was resolved by the last push

[2017-07-09 22:27] Rafiot opened #277 "Crash when decompiling (file attached)"
Probable regression found during the tests with viper: https://travis-ci.org/viper-framework/viper/jobs/251812309#L1195 (I re-ran the tests after removing the cache and using the HEAD of androguard)

The related file is available here: https://github.com/viper-framework/viper-test-files/blob/master/test_files/hello-world.apk?raw=true

[2017-07-17 08:09] lodart opened #279 "Androdd : Get JUST Java source code (no *.ag)"
Hi ! I really like using Androdd to decompile APKs, but I'd like to get just the source code, and not any `.ag`, or `.png` . I'd like to get the project as close as possible to what was developed.
Is there a way to make that happen ?

Thank you very much :)

[2017-07-17 08:12] reox commented on #279
you can always use the API to do that.

for example, iterate over all classes and call get_source().

[2017-07-28 17:01] bowers24 commented on #136
Has the github version been refactored? I am experiencing the same issue with that version.

[2017-07-31 07:30] reox commented on #136
@bowers24 yep, there was a big refactoring. These things are either gone or renamed.

you can either use an old release (should work fine) or try the latest master and rework your code.

[2017-07-31 19:47] wdormann opened #280 "AnalyzeAPK() for some APKs gives: struct.error: unpack requires a bytes object of length 4"
### Describe what you wanted to do

When parsing https://play.google.com/store/apps/details?id=com.ovkuse.appsbunch with Androguard's androlyze.py, I get:  struct.error: unpack requires a bytes object of length 4
Some other apps give the same error:
org.iShia.iShia.Free
com.app.cp.blog8066
com.app.cp.blog2585
etc...

### Describe what you expected
Parse w/o error

### Describe what actually happen

[2017-07-31 20:12] wdormann opened #281 "AnalyzeAPK() for some APKs give a variety of xml.parsers.expat.ExpatError: errors"
### Describe what you wanted to do

When parsing https://play.google.com/store/apps/details?id=com.shopgate.android.app13182 with Androguard's androlyze.py, I get: xml.parsers.expat.ExpatError: unbound prefix: line 108, column 0

Other apps have similar errors in expat, but it's not clear if the underlying cause is the same.  The whole set of unique expat errors I've seen is:
$ grep ExpatError inv

[2017-08-01 06:11] reox commented on #281
It seems like they are using some kind of packer for the manifest file, so the decompilation fails...
Such problem are really a PIA because packer vendors will always find some way to disturb automated processes such as androguard.

Just out of curiosity: have you tried to use a different xml parser? Maybe it will still work with other parsers than minidom. Minidom is fine, but sometimes quite lim

[2017-08-01 06:14] reox commented on #280
I think this is again an issue with packed manifest files. :/

[2017-08-01 12:30] wdormann commented on #281
Attached is the manifest file from com.shopgate.android.app13182, which has been extracted using apktool.   Both etree and minidom handle it fine, and it doesn't seem to be malformed in any way.  However, this is *after* it's been parsed with apktool, so perhaps that's because it's after apktool fixes it up in some way?

[AndroidManifest.xml.txt](https://github.com/androguard/androguard/files/1190

[2017-08-01 12:36] wdormann commented on #280
Attached is the AndroidManifest.xml file for com.ovkuse.appsbunch as it is extracted using apktool.

[AndroidManifest.xml.2.txt](https://github.com/androguard/androguard/files/1190594/AndroidManifest.xml.2.txt)

[2017-08-14 13:34] reox commented on #281
So I took a look at some of my files with this error. It seems they do not start with the usual AXML Header of `0x00080003` but with `0x00080503`. So they already fail in line 1225 of the AXMLParser.
I'm not sure why it is a separate header but this fixes it:
[code]

Who has more knowledge of the AXML format and might answer the question with the different headers?

[2017-08-14 18:19] benldrmn opened #282 "[question] Parsing Android API Calls from APK"
Hi,

is there any way, given an apk file, of retrieving the API calls used by the application with androguard? I look up a way in both androguard's code and documentation but couldn't find anything of that sort.

Thanks!

[2017-08-14 18:40] reox commented on #282
basically all methods that are external are the API calls: https://github.com/androguard/androguard/blob/master/androguard/core/analysis/analysis.py#L634

You would need to iterate over all MethodClassAnalysis objects and check the xref's for such ExternalMethods.

HTH!

[2017-08-14 22:25] wdormann commented on #281
It looks to still error in the same way after the above modification:

WARNING: AXML parsing failed: unbound prefix: line 108, column 0
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/androguard-3.1.0.dev0-py3.5.egg/androguard/core/bytecodes/apk.py", line 203, in __init__
    self.xml[i] = minidom.parseString(self.axml[i].get_buff())
  File "/usr/lib/python3.5/xml

[2017-08-14 22:42] wdormann commented on #281
Actually, **all** of the APKs that I currently have that fail to be processed by androguard have axml_file = 0x80003, which is the expected CHUNK_AXML_FILE value.  I'm not sure why you'd be seeing 0x00080503 in any APK file.  But if you are, I suppose that'd be a different problem than I'm seeing.

[2017-08-15 10:00] reox commented on #281
oh okay. so I have yet another error... I'll try to debug this.

[2017-08-15 10:01] reox opened #283 "Some AXML files start with another header"
It seems some AXML files (usually the AndroidManifest.xml), do not start with the usual AXML Header of `0x00080003` but with `0x00080503`.
One solution is to allow this other header as well:
[code]

Who has more knowledge of the AXML format and might answer the question with the different headers?
If you search for 0x00080503 on github you find nothing useful... It seems like nobody uses this cons

[2017-08-15 14:15] benldrmn commented on #282
Hi, thanks for responding.
I'm not sure that's what I was looking for. I want to know which android API methods, such as getSystemService(), for example, are invoked by the app's code. I'm not interested in the method that called for the android API method, only to know whether a call to such method appears somewhere in the app's source code.

I know I can get a hold of all of the apk's classes\me

[2017-08-15 14:50] reox commented on #282
Okay, so what you can try is to look if there is a method with this name _and_ is external. Then you can also check the xrefs, if the method is called.

For example, you can look for methods like this:
[code]

I have to admit, this is not very usefull, because you need to know the exact name and descriptor.

Before, you had some methods to search for such calls, but they are removed because the wh

[2017-08-15 14:52] reox opened #285 "Add __repr__ to all classes"
When using `androlyze.py` it is annoying that you can not see for example methods or classes.
Here is an example:
[code]

Probably all classes need a descriptive `__repr__` method, so you can directly see what's inside.

[2017-08-15 14:55] reox opened #286 "PyASN1 errors due to version change?"
Looks like the build is failing due to a new versions?
[code]

This version got installed: pyasn1-0.3.2-py2.py3-none-any.whl
before pyasn1-0.2.3-py2.py3-none-any.whl was used...

[2017-08-18 13:13] JohanLorenzo commented on #236
Hi guys! Thank you for putting up this library 😃 I would love to use it in https://github.com/mozilla-releng/mozapkpublisher. However, 3.0.1 doesn't have the Py3 compatibility.

@jbremer, would it be possible to release a new version?

[2017-08-25 11:31] reox commented on #286
this bug seems to be fixed in the master of pyasn1. that means we should disallow versions 0.3.1 and 0.3.2 for the future.

[2017-08-25 11:32] #286 closed

[2017-08-29 07:44] reox commented on #283
Some update on that: I scannen 50000 APKs and read the first four bytes of AndroidManifest.xml.
I found 319 files that had another header, namely:
[code]

I did not tried to install them on a device (maybe I should check if those files are valid) but it looks like there are a lot of packers/obfuscators that change the header.
By the looks of it, the only thing that is always the same is the 0800.

[2017-08-29 08:34] reox commented on #283
So I adopted the code, but it looks like a lot of those files are not parsable. I found 75 that would work and 243 produced other errors...

If someone wants to tackle this problem, I can provide the set of files I found.

[2017-08-29 09:02] reox commented on #281
For this shopgate app, I get a more desciptive error message when using lxml:
[code]

in the xml, it looks like this:
[code]
And below that, there are more ns:, instead of android:

When I look at the AXML file itself using 010 editor, the namspace seems to be fine - so I do not really know where this one comes from...

[2017-08-29 10:41] reox commented on #281
Actually it doesn't look to bad. The problem was, that namespaces where not acknowledged if the uri was already parsed. I changed that behaviour.
In the case of this APK, the xmlns:ns part is now directly in the application tag. Looks like the XML Parser is happy then.

@wdormann Can you check if the changes in https://github.com/reox/androguard/tree/fix-axml-missing-ns work for you?

[2017-08-29 11:20] reox commented on #280
It looks like this error happens if someone sets the style offset to some number but the style counter is zero, e.g. there are no styles.

I also added a fix for that in this branch: https://github.com/reox/androguard/tree/fix-axml-missing-ns
@wdormann can you check if this fixes it?

[2017-08-30 18:26] reox commented on #220
Recently I took a closer look to the logging in androconf. I needed to adopt it a little bit, as `warning` would always read the traceback.
actually the androconf's logging is already the python `logging`.

I would start to use logging in a better fashion, like creating the log handlers in the classes directly rather than using androconf.

afair, there are no print's anymore :)

[2017-08-30 18:26] reox commented on #48
as the dependencies are defined now, I'll close this one.

[2017-08-30 18:26] #48 closed

[2017-08-31 08:06] reox opened #290 "Remove custom zipfile and chilkat zipfile?"
in the APK class, three different ZIP Modules can be used.
I know, that in the past the python zipfile was broken and thus the patched variant or chilkat was necessary.

Today, I use only the python variant, as it is very stable.

Should we remove the two other methods or is there any reason to keep them?

[2017-08-31 10:31] reox commented on #290
Actually this is all because of python 2.6 compatibility - which is broken anyways. So I will remove it.

[2017-08-31 10:38] #290 closed

[2017-08-31 10:44] #283 closed

[2017-08-31 11:02] reox commented on #277
I tried to replicate the bug with this script:
[code]

But it seems to work? Can you test with the latest master or create a short script how I can replicte the bug?

[2017-08-31 12:03] reox opened #292 "move magic_file to androconf"
magic_file in APK class might be better in androconf, so batch processing is easier.

[2017-08-31 12:19] Rafiot commented on #277
It is still failing, even after deleting the caches: https://travis-ci.org/viper-framework/viper/builds/270385120

I don't have much time today to investigate but I'll have a look later.

[2017-08-31 12:52] reox commented on #277
Nevermind, I looked at your code and found at least the issue:
[code]

In decompiler.dad.dataflow group_variables, the thing fails because the list contains int and str:
[code]

The list looks like this:
[code]
and you can workaround by setting a custom sorter and cast everything to str:
[code]

When using `c.get_source()`, the exception is masked by the Exception handler in DvClass.process - see

[2017-08-31 13:08] reox commented on #277
Okay, there is more. When applying the sorting it fixes it for countless methods, but then a new error appears, which was probably masked by the sort error:
[code]

[2017-08-31 13:41] reox commented on #277
I guessed now a lot and this commit seems to fix it:
https://github.com/reox/androguard/commit/6a913f05833a49bf681b481cfab0d7ef388e5116

I can decompile the APK now without any problems.

I also removed the exception handler in DvClass.

@Lircyn do you have by chance some time to review it?

[2017-08-31 18:14] wdormann commented on #280
I don't think that fixes anything.  I believe that I'm running what you suggest:
[code]

But when I run AnalyzeAPK, I get the exact same symptoms:
[code]

Do you need a copy of an offending APK for your own testing?

[2017-08-31 18:17] wdormann commented on #281
As with issue 280, nothing seems to be fixed here.   Do you want a copy of an offending APK?

[2017-08-31 18:29] reox commented on #280
This is weird, I tested with the APKs from the inital report and it works for me... Maybe I got the wrong APK... Can you upload them somehow?

[2017-08-31 18:55] wdormann commented on #280
These links should work:

error: unpack requires a string argument of length 4
https://drive.google.com/open?id=0BzrbzLF_CbEYTzRJd2lpQUFYWmc

xml.parsers.expat.ExpatError: unbound prefix: line 108, column 0
https://drive.google.com/open?id=0BzrbzLF_CbEYTi1pUkZJbGdwbW8

[2017-09-01 14:28] reox commented on #280
Oh wait, did you used `axml_strange_header`? The changes for those two issues are not in this branch. Can you check against master of https://github.com/androguard/androguard ?
For the ovkuse app I get: Declared filesize does not match real size: 10356 vs 10364
and the shopgate should work fine now.

I'm not sure how to deal with the filesize thing, maybe parse the file until the declared size onl

[2017-09-01 15:13] wdormann commented on #280
master of  https://github.com/androguard/androguard is now working.  I'm not sure what was going on with my testing before, as you can see that I was running axml_strange_header:

[code]

Anyway, master is working!

[2017-09-01 18:11] reox commented on #280
👍
I'll close the issue then! If you have more such non-working APKs, please report them!

[2017-09-01 18:12] #281 closed

[2017-09-01 18:13] wdormann commented on #280
yeah, this cleared out a good chunk of them.  There are a few remaining classes of APKs that still fail, and I'll file ticket(s) for them.

[2017-09-02 12:57] wdormann opened #294 "AnalyzeAPK: xml.parsers.expat.ExpatError: not well-formed (invalid token):"
Some APKs fail to be parsed with AnalyzeAPK

### Describe what you wanted to do

I've seen this error with 46 APKs.   An example:

a,d,dx = AnalyzeAPK('com.tslstudio.tsladsudoku.apk');

https://drive.google.com/open?id=0BzrbzLF_CbEYYkJ4UUlDVThNQk0

### Describe what you expected

Parse OK, as it's currently in the Google Play store.

### Describe what actually happened

Traceback (most recent call

[2017-09-02 13:02] wdormann opened #295 "AnalyzeAPK: xml.parsers.expat.ExpatError: duplicate attribute (ordinal not in range(128))"
Some APKs fail to be parsed with AnalyzeAPK

### Describe what you wanted to do

I've seen this error with 9 APKs.   An example:

a,d,dx = AnalyzeAPK('com.planetcoops.android.presetupdater.apk');

https://drive.google.com/open?id=0BzrbzLF_CbEYN0pOWUlCUl93LXc

### Describe what you expected

Parse OK, as it's currently in the Google Play store.

### Describe what actually happened

Traceback (most

[2017-09-02 14:02] wdormann commented on #295
Additional output after the above:

[code]

[2017-09-05 08:09] reox commented on #294
This is clearly some obfuscated manifest. In 010 editor, the template seems to work fine, but with androguard it is just a mess.
This is also the first Manifest which uses TEXT tags...

[2017-09-05 09:26] reox commented on #294
Does anyone has more information on this thing?
It seems they use TEXT chunks to code some of the information.
When using `aapt d xmltree com.tslstudio.tsladsudoku.apk AndroidManifest.xml`, there is this part:
[code]

It seems like they injected the permission in there...
This get's translated into:
[code]

[2017-09-05 10:25] reox commented on #294
@wdormann can you check the PR #296 if it works for all the APKs?

[2017-09-05 10:35] reox commented on #295
this error results in some systems attributes are not available in the resources list.

We need to regenerate them for every new API version (see also #252 )

[2017-09-05 10:38] reox commented on #252
We need also regenerate the SYSTEM ATTRIBUTES for the AXML parser.

[2017-09-05 10:40] reox commented on #295
For the first error, i believe it should be fixed in #296 .

[2017-09-05 13:09] reox opened #298 "Move AXML and ARSC Parsers to different location"
Refactor the apk file, as it contains now several parsers at once.

[2017-09-05 13:10] wdormann commented on #294
I had 80 failing APKs, and now it's down to 65.   Would it make sense to file new tickets for remaining issues (most, but not all still "not well-formed (invalid token)")

[2017-09-05 17:45] reox commented on #294
Can you send me all of them? The error might be the same, but the cause might be different.

[2017-09-05 17:47] reox commented on #249
As the examples are used in the tests, move them into tests folder

[2017-09-05 17:47] reox commented on #232
Removed the exception handler - hopefully this gives us more bugreport ;)

[2017-09-05 17:47] #232 closed

[2017-09-05 17:48] reox opened #299 "More Decompiler Support"
I think there are more advanced decompilers out there.
Androguard already supports the usage of other decompilers as well - are there any that should be included?

[2017-09-05 18:01] reox commented on #32
Fails now with another error:
[code]

[2017-09-06 17:58] wdormann commented on #294
The entire set of APKs is 1.7GB.  How would you like them?

[2017-09-06 18:04] reox commented on #294
It should be sufficiant to extract the AndroidManifest.xml files and just upload them.

[2017-09-06 18:15] wdormann commented on #294
Ah, well that makes a lot more sense!   Here they are.

[bad_manifests.tgz.zip](https://github.com/androguard/androguard/files/1282194/bad_manifests.tgz.zip)

[2017-09-06 18:27] reox commented on #294
Thanks! I'll have a look at them.

[2017-09-07 04:00] miniminiwhite opened #300 "About using androguard to get API"
sorry to bother but I do have some difficulties on getting API call information from apk files.
so I used my code below and found all the results I retrieved were "None" or just lists filled with "None".
I think I must made mistakes but don't know which part should I modify.

[code]
I'm using 32 bit python 3.6 on Windows 10
What I want to get are all the API calls which would be invoked in this ap

[2017-09-07 07:59] reox commented on #300
Better use the function `get_name()`:
[code]

HTH!

[2017-09-07 07:59] #300 closed

[2017-09-07 09:21] reox opened #302 "Write ASN1 Spec for SignatureBlock Format"
The SignatureBlock format is used to sign APK and Jar files.

For better parsing, we should create an ASN1Spec for pyasn1.

[2017-09-07 09:22] #298 closed

[2017-09-07 10:34] reox commented on #160
Run into this issue now again.
It looks like the Liapp Packer uses an empty namespace to fool XML parsers.
The AXML file iteself is read fine.

But the attribute of the Namespace tag resolves to an empty string... I'm not sure how to deal with that. We could just add a fake URI, so the parser is happy.

[2017-09-07 11:02] reox commented on #294
Some of the AndroidManifest.xml are packed with Liapp. It looks like, I'm not able to format them in such a way that they are readable by an XML parser... I add a flag to indicate that the Manifest was packed.

[2017-09-07 12:22] reox commented on #294
I got most of the errors fixed. 18 files are packed with Liapp, thus the XML parser is not happy... If you want to take a look, you can still use `axml.get_buff()` to see the "raw" xml.

In added a function on the AXMLPrinter called `is_packed()` which returns True if I believe that the AXML file is packed and we will have troubles reading it.

Can you test PR #303 on your files please? If you hav

[2017-09-07 13:13] #282 closed

[2017-09-07 13:13] #279 closed

[2017-09-07 13:14] #207 closed

[2017-09-07 18:05] wdormann commented on #294
The only remaining failures here are 18, so I assume they are the same liapp-packed apps.  I can still extract the AndroidManifest.xml file using apktool, though.   Is it perhaps possible to use whatever technique that apktool is using?

Here's the AndroidManifest.xml file from the first failing APK in my list: com.nextgenreality.wrk:
[AndroidManifest.xml.txt](https://github.com/androguard/androgu

[2017-09-07 18:16] reox commented on #294
You will get a similar output when using something like this:
[code]
(btw the androguard output is even more correct, as it acknowledges the namespace prefixes before the liapp crypted attributes)

The only problem is the empty namespace, which is added by Liapp:
[code]

This can not be parsed by an XML parser like xml.minidom or lxml.
Even if you set it to some value, you will have no chance pars

[2017-09-07 19:35] wdormann commented on #294
Ah, so here's where my workflow is failing.  I have a script that accomplishes something like what androapkinfo.py used to do

[code]

where get_apk_info simply retrieves several properties from the APK object, including:

- files
- declared_permissions
- requested_permissions
- main_activity
- activities
- providers
- certificate

I'm currently unable to get any of these details for liapp-protect

[2017-09-07 20:28] reox commented on #294
this is actually a good question. Most of the current packers produce APKs that are valid for Google Play but fail on analysis.
I think for Google Play only those information are required: Package Name and permissions. (But I dont know for sure, I never uploaded something to the Play store)

It is true, we could potentially parse those information from the Manifest, but not with the current setup.

[2017-09-07 20:45] reox commented on #277
@Rafiot can you check against the latest master? I believe this one is fixed now.

[2017-09-08 06:31] reox commented on #98
@rytilahti is it possible to reupload the APK? I would like to have a look at it!

[2017-09-08 06:53] reox commented on #97
I think I see the problem here:
in get_operands it should be  range(self.CCCC, self.NNNN + 1), as NNNN is also a valid register

[2017-09-08 06:59] #145 closed

[2017-09-08 07:01] reox commented on #160
Please reopen new tickets if something fails with the AXML Parser, so we can keep track of it more easily.

[2017-09-08 07:01] #160 closed

[2017-09-08 07:02] reox commented on #182
as docs work great on readthedocs, i'll close this one.

[2017-09-08 07:02] #182 closed

[2017-09-08 07:03] #97 closed

[2017-09-08 07:12] reox opened #306 "is_valid_APK should return True for packed files"
is_valid_APK returns True only if the manifest file was parsed and all fields are read.
This is not possible for packed files like Liapp (and probably others).

For this to work, we would need some further changes:
* Use XML Parsers that will not raise errors if the XML is slightly malformed (like empty namespaces)
* Parse the Manifest with best-effort, like extract permissions (as they are usuall

[2017-09-08 07:13] reox commented on #294
I opened up a new issue: #306

If you have any more failing Manifests, please hand them in!

[2017-09-08 07:13] #294 closed

[2017-09-08 09:51] Rafiot commented on #277
Looks good: It works fine in python3.4 to 3.6.

But fails with python2.7: https://travis-ci.org/viper-framework/viper/jobs/270385121#L1277

[2017-09-08 11:07] reox commented on #277
thanks for testing! Seems like in python2.7 it is not a str... anyways - i fixed it now and also added this as a testcase. It looks good: https://travis-ci.org/androguard/androguard/builds/273253145
And we have now 2100 more testcases :D

[2017-09-08 11:09] reox commented on #277
I merged it into master btw. You might want to test it again on your side.

[2017-09-08 11:18] reox opened #309 "Install androguard as user with pip fails"
If you want to install androguard via pip as a non-root user it fails:
[code]

Probably we need to adopt the path then?

[2017-09-08 12:02] Rafiot commented on #277
Nice! I love test cases :)

It works on my end, thank you very much for the fixes.

[2017-09-08 12:02] #277 closed

[2017-09-08 12:07] reox opened #311 "Unicode problem in processing method with ast at literal_string"
[code]

when running:
[code]

Looks like the literal_string method needs some rewrite.
In python3 I get another error instead:
[code]

What really bugs me, is that those errors seems to vanish on travis, as this works fine: https://travis-ci.org/androguard/androguard/builds/273268651?utm_source=github_status&utm_medium=notification

[2017-09-08 14:19] wdormann commented on #294
Aside from the liapp stuff, the only two remaining APKs I can't get info for (so far) are due to corrupt zip files.   But they're apparently good enough to be accepted into the Google Play store:

[code]

[2017-09-08 18:00] reox commented on #294
wow, I never saw such things - alltough I have a huge collection of really broken files... I always thought they were corrupted during transfer or something but not that they are actually on GP. Can you install them on a real android device?

[2017-09-08 18:09] wdormann commented on #294
Actually, now that I look, neither of the above apps can be installed directly from GP onto a phone.  The former gives:
Error code: 960

And the latter gives:
Error code: -504

[2017-09-11 16:15] waqarrashid33 opened #312 "typo "anguage" instead of "language""
https://github.com/androguard/androguard/blob/a13c156d07454234fdfb431cf9e57878ed6a4bee/androguard/core/bytecodes/axml.py#L928

[2017-09-12 06:02] #312 closed

[2017-09-12 06:03] reox commented on #312
thanks for reporting! I fixed that now. We should really do more testing for such things...

[2017-09-12 06:13] #271 closed

[2017-09-12 06:19] reox opened #313 "APK signing/validation in pure python"
It would be nice to be able to validate signatures of APKs using pure python code.

We would need to create the MANIFEST.MF file and check against the signature.

Then we could return all items that are not signed but in the APK or all items that are signed but create a wrong signature (e.g. wrong hash).

[2017-09-12 08:37] reox commented on #295
The second issue is a duplicate of #268
I'll close this one

[2017-09-12 08:37] #295 closed

[2017-09-12 09:29] waqarrashid33 commented on #312
I am using for feature extraction from malware samples, I am new to it so its a bit unlikely that I would be of much help but I will gladly report anything I find.

[2017-09-12 09:36] reox commented on #312
please do so! If you find files that does not work with androguard, please report them.

[2017-09-12 11:22] reox opened #317 "No attribute map_item in data_off_obj"
### Describe what you wanted to do

Serveral files from F-Droid:
am.zoom.mbrowser_12.apk
android.androidVNC_13.apk
android.game.prboom_31.apk
...

### Describe what actually happened
[code]

and similar:
[code]
(from app.varlorg.unote_7.apk)

### System Information

- Androguard Version: master
- Python Version: 3.6
- Operating System: windows

[2017-09-12 11:24] reox commented on #317
well, I should know that I already reportet that -.-

[2017-09-12 11:24] #317 closed

[2017-09-12 11:41] #311 closed

[2017-09-12 11:46] reox opened #318 "Dalvik v38"
Android API 26 moves to Dalvik Version 38.

More infos here: https://www.pnfsoftware.com/blog/android-o-and-dex-version-38-new-dalvik-opcodes-to-support-dynamic-invocation/

Need also to implement new opcodes...

[2017-09-12 14:08] cryptax commented on #299
actually, dad does an excellent job in many situations.

[2017-09-12 14:49] waqarrashid33 commented on #312
I did came across a multiple apk files with which androguard is throwing warnings, but I am not sure whether it is because of androguard or because of  corrupt or invalid files.
[7f1b7ae2859bad220941924e2adea612.zip](https://github.com/androguard/androguard/files/1296322/7f1b7ae2859bad220941924e2adea612.zip)

To produce the error, remove the zip extension(just changed it for uploading):
`apk = APK

[2017-09-12 14:53] waqarrashid33 commented on #312
One more file giving warning:
[e682404e81fcf4a8463ca323e76d2a76.zip](https://github.com/androguard/androguard/files/1296356/e682404e81fcf4a8463ca323e76d2a76.zip)
`apk= APK("e682404e81fcf4a8463ca323e76d2a76")`

The warning message is:
`WARNING: Styles Offset given, but styleCount is zero.
Traceback (most recent call last):
  File "/usr/lib/python2.7/idlelib/run.py", line 111, in main
    seq, reque

[2017-09-12 14:57] waqarrashid33 commented on #312
@reox Do you know any good resource or book for Android reversing?
I had done some work in reversing but not in android and my java is not that good. Which things do you suggest that I should learn first that can help me start quickly in this area. I am so far impressed by androguard but my understanding is not to the level that I can contribute enough.

[2017-09-12 17:16] the-house opened #320 "TAG_ANDROID method printing?"
How can I print the TAG_ANDROID for a method given that analysis.VMAnalysis() is no longer present?

Thank you.

[2017-09-12 17:45] reox commented on #320
analysis.VMAnalysis was renamed to analysis.Analysis.

hth!

[2017-09-12 17:48] reox commented on #312
can you create new issues for each report please?

for books: there is
* Android Hacker's Handbook
* Android Security Internals: An In-Depth Guide to Android's Security Architecture
* The Mobile Application Hacker's Handbook
and probably more

[2017-09-12 17:55] waqarrashid33 opened #321 "Warning when try to create DalivikVMFormat object, file attached."
I did came across a some apk files with which androguard is throwing warnings, but I am not sure whether it is because of androguard or because of  corrupt or invalid files. Please check the attached file.
[7f1b7ae2859bad220941924e2adea612.zip](https://github.com/androguard/androguard/files/1296322/7f1b7ae2859bad220941924e2adea612.zip)

To produce the error, remove the zip extension(just changed i

[2017-09-12 17:56] waqarrashid33 opened #322 "stylecount zero warning when I try to open attached file"
One more file giving warning:
[e682404e81fcf4a8463ca323e76d2a76.zip](https://github.com/androguard/androguard/files/1296356/e682404e81fcf4a8463ca323e76d2a76.zip)
`apk= APK("e682404e81fcf4a8463ca323e76d2a76")`

The warning message is:
`WARNING: Styles Offset given, but styleCount is zero.
Traceback (most recent call last):
  File "/usr/lib/python2.7/idlelib/run.py", line 111, in main
    seq, reque

[2017-09-12 23:26] the-house commented on #320
Thank you for the quick reply!

I am still not seeing a way to get the tags as the analysis.Analysis object does not have get_methods() only get_method() which cannot call get_tags().  Thoughts?

[2017-09-13 15:18] waqarrashid33 commented on #241
@reox A lot has been changed in the new release. Can you give me some hints on how to get the control flow graph of  whole app. I can get CFG for methods but connections between methods and classes is unclear to me.

[2017-09-13 22:09] the-house commented on #269
@jimmy-sonny I am looking at printing out the tags for methods but have run into the same issue you have.  Have you found a workaround?

[2017-09-14 04:13] reox commented on #320
I think I never used this feature in the old versions. Can you give me an example how it used to work and what the output was?

[2017-09-14 04:24] reox commented on #269
Oh I see: create_tags depends on tainted analysis, which was removed: https://github.com/androguard/androguard/commit/0cf5b8fe8c590280a5c589b26596d787d9f1fd3b#diff-d79598dab3d19b4148ec99584144b7a5L541
I think tainted depends heavily on the API Permission Mappings, which are not reliable. @adesnos had the plan to rewrite tainted (see #221 )

[2017-09-14 04:25] reox commented on #320
duplicate of #269, please put your information there.

[2017-09-14 04:25] #320 closed

[2017-09-14 04:28] reox commented on #299
At the moment there is (untested) code for JAD, DED and Fernflower.
Sure, DAD is great but it needs a lot of testing... I think there are still some bugs in the code that create wrong code.

[2017-09-14 04:32] reox commented on #241
I think the way to go is using the xrefs:
https://github.com/androguard/androguard/blob/master/androguard/core/bytecodes/dvm.py#L3038
https://github.com/androguard/androguard/blob/master/androguard/core/bytecodes/dvm.py#L3637

[2017-09-14 04:39] reox opened #323 "Write new Testcases"
We should write testcases for the following topics:

* [ ] Xrefs on Methods, Classes and Fields
* [ ] Decompiling Arrays (all types: byte, int, float, double, long, String, Objects, ...)
* [ ] Decompiling try/catch blocks
* [ ] Decompiling switch/case blocks (attention: there are two types!)
* [ ] Decompiling types (see #254 )
* [ ] Ensure different dex formats can be read
* [ ] Test instructions

[2017-09-14 07:20] reox commented on #321
I saw such things now several times.
The reason for this bug is, that the Offset in the MAP is not equal to the actual STRING_DATA section in the Header.

![real_string_data](https://user-images.githubusercontent.com/431045/30416782-b9ab14b8-992d-11e7-9481-df79e4c0ef28.PNG)
![fake_string_data](https://user-images.githubusercontent.com/431045/30416783-b9ab09a0-992d-11e7-8d9e-68d5dcac859d.PNG)

The

[2017-09-14 07:31] reox commented on #322
The warning is just from the AXML parser. It looks like a packed Manifest file.

But the error is not from androguard itself. It looks like it is from a tool you are using?
I can process the APK just fine, e.g. in androlyze.py -s:
[code]

[2017-09-14 10:27] waqarrashid33 opened #324 "DexViewer.export_to_gml() broken, no dotbuff() in DalvikVMFormat"
In attempting to get gml file, the function gives the following error:
`  File "/usr/local/lib/python2.7/dist-packages/androguard-3.1.0-py2.7.egg/androguard/core/data/data.py", line 149, in export_to_gml
    buff_nodes += self.add_node(i, id_i)
  File "/usr/local/lib/python2.7/dist-packages/androguard-3.1.0-py2.7.egg/androguard/core/data/data.py", line 73, in add_node
    c_label = "%x %s\n" % (id

[2017-09-14 10:30] reox commented on #324
looks like another occurrence of #234

[2017-09-14 15:21] the-house commented on #221
@adesnos am happy to contribute to getting taint analysis working again, let me know how I might assist.

[2017-09-18 14:21] waqarrashid33 opened #325 "Why some of instruction formats are not implemented in dvm.py and how to get operand type?"
A question about instruction and instruction<ID> classes in dvm.py:

I was looking at the code of dvm.py to get the types of operands of each instruction. I was comparing the implementations of instruction<ID> classes with [Dalvik Executable instruction formats ](https://source.android.com/devices/tech/dalvik/instruction-formats#bitwise). I found that some of the instruction formats are not implem

[2017-09-19 10:31] waqarrashid33 opened #326 "MethodAnalysis.get_tags() broken, no "tags" in "MethodAnalysis""
The error message is:
`AttributeError: 'MethodAnalysis' object has no attribute 'tags'`

There is no `tags` member in `MethodAnalysis` class.

[2017-09-22 10:22] waqarrashid33 opened #328 "ClassAnalysis.get_xref_to() and from() return empty dictionaries, had to call Analysis.create_xref() manually"
Hello,
While trying to xref from ClassAnalysis, I was getting empty dictionaries and also the list of methods was empty.  Below is the code snippet:
[code]

I don't know if this is something forgotten by the developers or left due to some reason. I was expecting that all the objects of ClassAnalysis in an Analysis object would be properly populated.

[2017-09-22 15:54] waqarrashid33 opened #329 "MethodAnalysis.get_length() broken, not get_code() found in class"
[code]

[2017-09-28 03:09] ksg97031 commented on #328
You have to do `vmx.create_xref()`.
if you want to create per class's xref, you should be customize this [source](https://github.com/androguard/androguard/blob/master/androguard/core/analysis/analysis.py#L760).

[2017-09-28 16:33] piec commented on #234
Hi, it should rather be:
[code]
Cheers,
Pierre

[2017-10-01 02:56] NoAnyLove opened #332 "Failed to sign apk file"
In old version of androguard, the signature of `sign_apk` function is `def sign_apk(filename, keystore, alias_name, storepass) :`, which requires an `alias_name` parameter. But I found in recent version of androguard, the signature became `def sign_apk(filename, keystore, storepass):`.

As a result, the command-line was

[code]

and now becomes, which directly use the string "alias_name" as the pa

[2017-10-03 08:52] #329 closed

[2017-10-03 08:58] reox commented on #321
As far as I can tell, these warnings can be ignored safely - as long as the DEX file parses correctly at the end.

If you believe that this is still a bug, please reopen the ticket!

[2017-10-03 08:58] #321 closed

[2017-10-03 08:59] reox commented on #326
can you provide a sample and demo code where this happens? thanks in advance!

[2017-10-03 09:03] reox commented on #325
yes, the instructions need to be updated, also in order to work with DEX v038: #318

what do you mean by operand formats? Can you give me an example? You mean for example if the opcode is `move v1 v2` you get register for both operands and if the opcode is `goto 0x1337` you get address?

[2017-10-03 09:08] reox commented on #332
it must have been pre-git where this change was made... jarsigner is probably not the best choice either, we should change it to apksigner as well.

[2017-10-03 11:07] #328 closed

[2017-10-03 23:35] subho007 commented on #332
@reox I made a pure pythonic way to sign - https://github.com/appknox/pyjarsigner

worth integrating? can take a dig if useful

[2017-10-03 23:40] subho007 commented on #313
Ref: https://github.com/androguard/androguard/issues/332#issuecomment-334009259

[2017-10-06 10:49] waqarrashid33 commented on #325
Yes. But I did that already.
I couldn't figure it out without modifying `colorize_operands()` in `DalvikVMFormat`.
Just replace the color by register or offset etc.

[2017-10-06 10:54] waqarrashid33 commented on #328
Yeah but I don't want to customize important parts of code because I want it to be compatible with the anrdoguard version that is living here.
This post was just for information so that if someone is missing the point like me, they can see it here.

[2017-10-06 10:56] waqarrashid33 commented on #326
It wasn't a problem with code, solved by #328

[2017-10-07 21:48] lucasduffey commented on #124
Using python2 on ubuntu 16 LTS, you want to get python-magic from apt (not from pip2)

[2017-10-09 10:59] waqarrashid33 commented on #326
[code]

[2017-10-09 15:50] waqarrashid33 opened #333 "can't get app name of or file types for sonicspy malware, malware apk attached"
I am trying to analyze a sonicspy malware but having issues getting the app name and file types contained in apk.

[code]
The error is:
`BadZipFile: Bad CRC-32 for file 'resources.arsc`

The file is attached here. [WARNING: THIS IS A MALWARE FILE]
[3528e219fd190445a9918065289738175d311def.zip](https://github.com/androguard/androguard/files/1369185/3528e219fd190445a9918065289738175d311def.zip)

Jus

[2017-10-09 15:55] reox commented on #333
works fine for me - what python, androguard, library, OS, ... version do you use?

[2017-10-09 16:19] waqarrashid33 commented on #333
I am using Androguard Second pre-release of version 3.1.0 with python 3.5. My OS is Ubuntu 16.04. Not sure why it isn't working here. I will check it tomorrow again.

[2017-10-09 16:20] waqarrashid33 commented on #333
Let me check if uploaded the correct file. These hashes are really hard to recognize manually.

[2017-10-09 16:24] waqarrashid33 commented on #333
Now check it. Last time I uploaded another file. This is the one I am having trouble with.

[2017-10-09 16:29] reox commented on #333
Looks like the APK file itself is broken:
[code]

[2017-10-09 22:23] ahMengli opened #334 "the way for checking if a file is APK is not so accurate"
Hi all:
I just found one file whose first two bytes is "PK" and after being unzipped it contains the AndroidManifest.xml file but it's not APK file, the file is identified as APK file by androguard but in fact it doesn't contain classes.dex file, and I tried to install it on the mobile phone, it failed.
so when checking if a file is APK or not, it's more accurate to adding another condition for ch

[2017-10-10 07:21] reox commented on #334
Checking for AndroidManifest.xml is the valid way. An APK is not obligated to contain classes.dex or resources.arsc nor any other files but must have a AndroidManifest.xml.
If the file is installable on an android device is another question, but as far as i know we can unfortunately not check that...

[2017-10-10 07:21] #334 closed

[2017-10-13 15:54] waqarrashid33 opened #335 "Anyone else facing this warning with some apks?"
I am getting this warning with some apks. Does anyone facing the same problem or know the reason for this?

[code]

[2017-10-14 15:59] FabioNevesRezende opened #336 "TypeError: 'generator' object has no attribute '__getitem__'"
### Describe what you wanted to do

- use androdd to dump methods to image files
- tested only in one apk

### Describe what you expected
- to generate the image files and sources decompiled

### Describe what actually happened
- error as described below
### System Information

- Androguard Version: master
- Python Version: 2.7.14/3.6.2/
- Arch Linux (blackarch)

### Further Log Files and Output
$

[2017-10-15 18:10] cdkorzen commented on #235
I've done some more investigation and while I don't know enough of the theory, I think I've found the location of concern:

When the decompiler calls `switch_struct`, I've found that the switch node at issue (at the start of the method), ends up going into the unresolved set.  When it gets to another switch node, it ends up with two nodes in the `ldominates` list.  One is the node that should foll

[2017-10-16 14:05] waqarrashid33 commented on #335
It happened when I tried to process big apks like facebook or whatsapp.

[2017-10-16 15:29] reox commented on #335
I think this is from the map parsing - but it should not be a problem because the map is reloaded after it is fully parsed.

Do you see any issues after the APK is loaded?

[2017-10-16 15:46] waqarrashid33 commented on #335
No, I hadn't faced any issue after the apk is loaded. I can't decompile some methods but I am not sure if its related to this or not. I posted it because it throw this warning hundreds of times.

[2017-10-17 12:08] cdkorzen commented on #235
I think I understand the issue finally.

The function I'm analyzing is a resource loader.  So the switch is "which resource", and in almost every case it opens a file, and then ends by closing the file if it's opened.  However, there are one or two cases where it instead instantiates a specialty class to handle it.

Therefore, the function control flow looks like:
[code]
The method just uses the s

[2017-10-23 10:44] soupwaylee opened #337 "Deprecated documentation"
I can't find the `get_AndroidManifest()` method in the apk.py script that is mentioned in the documentation. Maybe the documentation is deprecated?

APK class can't call `get_AndroidManifest()` method that is listed in the [documentation](http://androguard.readthedocs.io/en/latest/api/androguard.core.bytecodes.html#module-androguard.core.bytecodes.apk).

- Androguard Version: 2.0
- Python Version:

[2017-10-25 12:46] reox opened #338 "Citing androguard"
I recently saw some papers which cited androguard. some of them even used the googlecode domain but where released in 2017! One even cited some random paper (looks like a mistake to me), which had nothing to do with androguard... Just take a look here: https://scholar.google.com/scholar?q=androguard

Should we write some documentation, how to cite androguard correctly, for example like R does (htt

[2017-10-26 05:54] cy-bai commented on #268
I also got stuck in this problem, have you solved that? Please help me!

[2017-11-06 21:43] WadeaHijjawi opened #339 "TypeError: 'generator' object is not subscriptable when using androdd.py"
I downloaded androguard and installed it using setup.py (the installation completed successfully) but when I try to get the source code all the classes packaged in an APK file using the androdd tool I have occurred the following error message:
" TypeError: 'generator' object is not subscriptable "

any help to solve this problem.

### System Information

- Androguard Version: master (and I have tr

[2017-11-07 08:06] reox commented on #339
getInstruction was changed to return a generator... I missed that one.

can you check if the changes in #340 work for you?

[2017-11-07 08:10] reox commented on #337
You can always trigger a new build: http://readthedocs.org/projects/androguard/builds/

@adesnos automatic builds would be really nice. Can you activate the webhook for readthedocs? (See http://docs.readthedocs.io/en/latest/webhooks.html#github)

[2017-11-07 08:46] #339 closed

[2017-11-07 08:47] reox commented on #336
this should be fixed as well with #340
can you also check if it works for you?

[2017-11-07 08:47] #336 closed

[2017-11-07 08:48] reox commented on #332
@subho007 looks promising! I'm not sure if signing is a functionality we actually need to support, but it looks like some users might like it.
At least it would be much easier than calling other external tools.

[2017-11-07 08:51] reox commented on #335
I think the warning is nothing you need to be concerned about. If you have exceptions decompiling methods, you can create bugreports for them.

[2017-11-07 08:51] #335 closed

[2017-11-07 08:51] #322 closed

[2017-11-07 09:31] reox opened #341 "Get smali code as string from method"
It looks like the current setup only allows to print a method to stdout.
You can use CONF["PRINT_FCT"] and create a wrapper to collect the output and use it as a string later on.

It would be really nice to be able to get the smali code as a string from each method (e.g. to save it into a file or do whatever you like)

[2017-11-08 11:15] WadeaHijjawi opened #342 "" OSError: [Errno 22] Invalid argument: " when using androdd.py"
First of all, thank you very much for solving #339 , but when I tried executing androdd.py tool to get the source code all the classes packaged in an APK file I have another error as following:
" OSError: [Errno 22] Invalid argument: " (the error details below)

I don't sure if that Python version error or Windows 10 error but please provide me if there any hint or solution for this problem.

###

[2017-11-09 08:06] LianlianMao commented on #121
i meet this error also.

[2017-11-09 08:08] reox commented on #121
@LianlianMao can you give us more information? The file you tried to analyze, steps to replicate, your hardware, ...
It might be a problem with too much RAM usage.

[2017-11-09 08:11] reox commented on #342
the problem is that the filename would contain invalid characters... A solution for this is not so straight forward, as there are so many versions how the name of a class can be messed up... And just replace all chars that are not allowed also does not help. :/

this is a duplicate of #130, closing this one

[2017-11-09 08:11] #342 closed

[2017-11-09 08:34] LianlianMao commented on #121
1.Here is some information about hardware:
(1)CPU:2.7GHz Intel,2 cpu, 8 cores per cpu, 2 threads per core.
(2)Memory:128G total, 120G used.

2.I am trying to analysis 2000 apk file. Because i am not sure all of these files are apk, i use this function 'androconf.is_android(filename)' to judge whether the file is apk before analysis it. Then I use the function 'misc.AnalyzeAPK(filename,session=None

[2017-11-09 08:37] reox commented on #121
do you process the apks in multiple threads? Do you have a backtrace?
have you montiored the RAM usage while analysing?
Can you look into the syslog if the OOM killer is active?

[2017-11-09 08:45] LianlianMao commented on #121
No, I only care my analysis result but ignore the RAM usage.

[2017-11-09 08:49] #121 closed

[2017-11-17 13:03] reox opened #343 "install with pip install . fails as normal user"
as the setup.py assumes /usr/share/androguard as a path to write files to, the install fails:
[code]

[2017-11-17 14:02] reox commented on #299
started to work on an implementation for JADX: https://github.com/androguard/androguard/compare/master...reox:jadx

try it with this script:
[code]

But it is not that easy to merge all classes from the output of jadx to androguard...

@androguard/external-contributors  by the way: has anyone ever used another decompiler beside DAD? Please tell me your stories and scripts for testing

[2017-11-22 23:38] subho007 commented on #273
@reox I have been using lxml on our fork of androguard - https://github.com/appknox/androguard/commit/c98ca6df61497867bc82da008cfec59aa0f7f46c

lxml is very performant and a better parser. You can see the comparison here: https://stackoverflow.com/a/8342620/122840

[2017-11-23 07:37] reox commented on #273
nice! I'll try to cherry pick this commit then.

[2017-11-23 09:57] reox opened #349 "test is failing due to list sorting"
yet another time the tests are failing because of list sorting, see https://travis-ci.org/androguard/androguard/jobs/305215171#L803

Not sure if the test is just wrong (sorting does not matter) or if pypy produces the problem (e.g. sorting does matter)

[2017-11-23 09:59] reox opened #350 "get_ref_off not found but should be guarded by if"
get_ref_off is a method only in Instruction*t. Therefore the call is guarded by if statements but in some pypy versions (not 5.4.1 and 5.9.0), the methods are still called:
https://travis-ci.org/androguard/androguard/jobs/305215171#L553

Looks like a pypy problem.

[2017-11-24 08:23] reox commented on #249
I removed the demos folder in the jadx branch...

[2017-11-24 09:11] #273 closed

[2017-11-24 12:06] #220 closed

[2017-11-26 19:38] diarmaid-mcmanus opened #354 "apk.show() isn't returning intent filters"
### Describe what you wanted to do

By calling androguard/androguard/core/bytecodes/apk.APK('file.apk').show(), no intent-filters are returned in the printout.

- is this error specific to a single file?
No
- if possible give a minimal working example where the error happens
For use in androlyze.py -s
`from androguard.core.bytecodes import apk
a = apk.APK('example.apk')
a.show()`

### Describe wha

[2017-11-26 19:40] diarmaid-mcmanus commented on #354
Should .decode for this live within show() or should there be a sanity check in get_intent_filters? This affects not only activities (as my example) but also services, receivers

[2017-11-26 19:51] reox commented on #354
maybe the xml parsing has some issues - i changed it to lxml lately.

It would be very nice if you could provide a fix!

[2017-11-26 19:58] reox commented on #354
Looks like this is a python3 issue: I think decode should be already in the a.get_activities() function.

If you have some nice AndroidManifest.xml files with a lot of different intent filters, they would also be well suited for a unittest.

[2017-11-27 10:29] JohanLorenzo commented on #236
Ping @jbremer

[2017-11-27 15:42] diarmaid-mcmanus commented on #354
I can create one. I have an AndroidManifest.xml with such but it's a random manifest from the play store. Is this OK to use?

I plan to fix this and provide a patch for something else I think is a bug (question incoming) this week, hopefully early this week but Sunday at any rate.

[2017-11-27 16:00] diarmaid-mcmanus opened #355 "apk.new_zip only adds new_files to a zip if deleted_files is not None"
Hello, I'm unsure if this is a bug or intended feature. Please tag this with question, I don't seem to have access to tags.

When calling `apk.new_zip('example.apk', new_files={'Anything':'content'})` file 'Anything' does not get written.
file 'Anything' only gets written if deleted_files='no-thing' i.e. is any string other than the file name in new_files. In this example, deleted_files must be so

[2017-11-27 16:26] reox commented on #355
I never used the function :D But it looks like either the documentation is wrong or the implementation.
I think it is the implementation :) I think you should be able to create new files with a given dict of files and also remove files from the APK if necessary.

I would be glad if you can provide a patch!

[2017-11-27 18:14] suhaibtamimi commented on #197
This bug affect which version of `IPython` will be used.

[2017-11-27 21:54] diarmaid-mcmanus commented on #354
Hey, the following line turns an str into a byte array. Do you know/remember why it was implemented like this?

https://github.com/androguard/androguard/blob/9f88ec774ec9b089f060e075785fe091465d8e22/androguard/core/bytecodes/apk.py#L538

By removing .encode() on this line it works as I'd expect, and all test_*.py files pass. I'm not sure if that's appropriate as a fix though - will it break someth

[2017-11-27 22:20] diarmaid-mcmanus commented on #355
Current plan to replace the code at https://github.com/androguard/androguard/blob/9f88ec774ec9b089f060e075785fe091465d8e22/androguard/core/bytecodes/apk.py#L867

[code]

I haven't tested that the new_files conditional block will overwrite existing files, I'll do this tomorrow.

[2017-11-29 19:08] david-lambropoulos-91 opened #356 "PROBLEM when running python setup.py build_sphinx"
I have installed following python packages

pip install ipython pyperclip networkx future pyasn1 cyptography filemagic mock pydot sphix sphinxcontrib.programoutput sphinx_rtd_theme

Then ran

python setup install

Followed by

python setup.py build_sphinx and was presented with the following

running build_sphinx
Running Sphinx v1.6.5
loading pickled environment... done
building [mo]: targets for

[2017-11-29 19:16] reox commented on #356
These are removed modules... the documentation was partly autogenerated from the source code, so those modules must also be removed from the documentation...

I added doc building now on travis, so we can see such errors eariler - see #357

[2017-11-29 23:39] #354 closed

[2017-11-29 23:39] #355 closed

[2017-11-30 09:20] #356 closed

[2017-11-30 13:45] reox opened #359 "Analysis create_xref can only be used for the last VM object"
create_xref should be able to run on all VM Objects at once.

It would also be interesting, if it works correctly for multidex files. if a class A is in file a and class B in b, is A in b extern and vice versa?

[2017-11-30 14:05] reox opened #360 "handle no resource file in APK"
Please remove this template if you only have a question or do not want to create a new issue.

### Describe what you wanted to do

get the icon from an APK where the resource file is missing / could not be parsed:

[code]

### Describe what you expected

icon should at least return None but not raise an Error

### Describe what actually happened

error is raised.

### System Information

- Androgu

[2017-11-30 14:06] #96 closed

[2017-11-30 14:07] reox commented on #158
I'll close this now. In my opinion multidex is working, but there might be some other work to do for better usability. please create new specific issues if needed.

[2017-11-30 14:07] #158 closed

[2017-11-30 14:09] reox commented on #156
It would be nice to test androguard on travis with OS X. Last time I tried, I failed to get everything set up...
Who has an idea?

[2017-11-30 16:16] nidhi-naviranj opened #362 "androguard badzipfile error"
Following error generated while parsing an apk.
How to handle it?
please help!

Traceback (most recent call last):
  File "C:\Python27\finalextract.py", line 11, in <module>
    a=APK(f)
  File "C:\Python27\lib\site-packages\androguard\core\bytecodes\apk.py", line 190, in __init__
    self.axml[i] = AXMLPrinter(self.zip.read(i))
  File "C:\Python27\lib\zipfile.py", line 935, in read
    return sel

[2017-12-02 01:08] diarmaid-mcmanus opened #363 "new_zip only writes files to zip if deleted_files is not None"
When I looked at new_zip again I realised both the version I committed and the one before that only write files to the new zip if deleted_files is not None.

https://github.com/androguard/androguard/blob/2f343dea2e2d5613df01e05ff0314d092ca50315/androguard/core/bytecodes/apk.py#L853

In the version currently in master, any files in new_files get written to the zip, independent of deleted_files.

ht

[2017-12-02 22:03] diarmaid-mcmanus opened #365 "Documentation: get_classes_def_item() return type does not match readthedocs.io"
### Describe what you wanted to do

http://androguard.readthedocs.io/en/latest/api/androguard.core.bytecodes.html#androguard.core.bytecodes.dvm.DalvikVMFormat.get_classes_def_item

This claims the return type will be a `ClassDefItem` object, when it instead returns a `ClassHDefItem`.

### System Information

- Androguard Version: master
- Python Version: 3.5.2
- Ubuntu 16.04

### Further Log Files

[2017-12-02 22:39] diarmaid-mcmanus commented on #365
get_classes_def_item().get_obj() returns the type defined in the documentation

[2017-12-03 19:48] reox commented on #365
Yeah, if the documentation is not missing, it is often not even right :D

[2017-12-03 19:49] reox commented on #362
this error means that the zipfile itself is broken.
try unpack the file with unzip and see what it says. usually it will tell you the same.

If unzip gives you no error, the python zipfile implementation might have some troubles.
in this case, please share the zip file with us, so we can have a look!

[2017-12-03 23:20] diarmaid-mcmanus commented on #363
resolved in https://github.com/androguard/androguard/pull/364

[2017-12-03 23:20] #363 closed

[2017-12-04 01:31] subho007 commented on #221
In the meantime I have ported the old Taint Analysis - https://github.com/appknox/androguard/tree/add-tainted-analysis

commit - https://github.com/appknox/androguard/commit/7af65537ba7051feb67530ab47041985097d5ce6

I think it is better to keep it until a newer implementation is done. Lot of tool depends on the analysis, and it is very difficult to refactor all the tools which uses androguard.

@a

[2017-12-04 17:05] reox commented on #221
Wow, very impressive! I would merge it!

[2017-12-05 09:36] subho007 commented on #360
@reox we only check first if `self.get_android_resources()` is None or not and accordingly proceed.

[2017-12-06 22:54] HeyJude1 opened #367 "Installing as administrator, getting Access is denied"
I'm trying to install androguard-3.1.0-pre, running the command line as administrator:
python setup.py install
And get an two errors before installation aborts:
build\temp.win32-2.7\Release\_openssl.c(483) : fatal error C1083: Cannot open include file: 'openssl/opensslv.h': No such file or directory
error: [Error 5] Access is denied: 'c:\\users\\me\\appdata\\local\\temp\\easy_install-s11cfi\\crypt

[2017-12-06 23:02] reox commented on #367
This error is not androguard related but regards the pycryptoraphy library.

do you use an old pip version? usually there is a binary version downloaded and not the module compiled on your machine.

[2017-12-06 23:02] #367 closed

[2017-12-07 22:43] clviper opened #368 "Alternative to old getElementsByTagName and attributes on the manifest file"
Hi there.
I was still using androguard available via pip that is the 3.0.1 and a lot change on version 3.1.0.
I have been looking in the source code but is still not clear to me the best way to do this,for example being able to determine if a particular component is exported.
In the past I had something like:

[code]
And for each activity I would be able to access the attributes via  `activity.att

[2017-12-08 12:51] cosmosgenius opened #369 "Return array for both single or multi dex for `AnalyzeAPK`"
### Describe what you expected

`_a, _vm, _vmx = AnalyzeAPK(file_content, raw=True)`

I expect _vm to be an array for both single or multi dex. For single dex the array for be having a single object.

### Describe what actually happened
`_vm` is an object if single dex and array for multi dex

[2017-12-08 13:00] reox commented on #368
maybe this is due to the change to LXML? (See #348 )
Maybe it is because LXML renames the namespaces... But this should be changed back to the old behaviour! (i.e. to be able to have the android: namespace instead of ns00:

[2017-12-08 19:27] clviper commented on #368
Hi @reox . I might have not been clear with my doubt. Basically the function get_AndroidManifest() no longer exists in androguard 3.1.0 and with the new function get_android_manifest_xml() I don't have the function getElementsByTagName().

Just wondering what would be the best approach to parse the manifest file for certain attributes I need to check like the android:exported for example.

[2017-12-08 19:51] #368 closed

[2017-12-11 23:04] subho007 opened #371 "Create test-cases for multi-dex application"
Current implementation does support multi-dex support. But proper testcases needs to be written to make sure everything works

[2017-12-11 23:04] #369 closed

[2017-12-12 07:29] tuomao commented on #171
Yes.Thanks!

[2017-12-12 13:21] reox commented on #323
add #371

[2017-12-12 13:22] reox commented on #360
yes, that would be the solution. We need also check where the resource file is queried and no None check is made.

[2017-12-14 00:07] subho007 opened #372 "Don't allow force push to master"
Reverted a taint analysis commit which got past to androguard master. This has been reverted.

ref: https://github.com/androguard/androguard/commit/6b3a6120eb501d14e10a7a3c6024727bfa53109a

@adesnos can you protect the master branch from force push in the settings ?

<img width="855" alt="screen shot 2017-12-14 at 5 35 23 am" src="https://user-images.githubusercontent.com/81071/33968946-c3bfa496-e

[2017-12-14 00:15] subho007 opened #373 "Add corresponding vm to Analysis object for ClassAnalysis"
Currently a very hackish way is implemented at https://github.com/androguard/androguard/blob/master/androguard/session.py which breaks Xrefs from different dex files in multi-dex.

The idea is to create a reference of `vm` in `ClassAnalysis` at
- https://github.com/androguard/androguard/blob/master/androguard/core/analysis/analysis.py#L762-L775
- https://github.com/androguard/androguard/blob/maste

[2017-12-14 00:56] subho007 opened #374 "Better way to get multiple dex files"
Added 2 commits:

1. https://github.com/androguard/androguard/commit/13fa6791eeaac8880c022b950720cdffdfff37d3

2. https://github.com/androguard/androguard/commit/1e77df4e2a15fd5fb0610c92fba18ed181046c43

@reox this is FYI. You can close this issue once you do a review on the above commits

[2017-12-14 08:46] reox commented on #374
looks much better than my hack :D

[2017-12-14 08:46] #374 closed

[2017-12-14 08:51] reox commented on #373
Should it be enough to reference each class to it's vm? Or is it possible that a class is defined twice?

There is also this thing here: https://github.com/androguard/androguard/blob/6b3a6120eb501d14e10a7a3c6024727bfa53109a/androguard/core/analysis/analysis.py#L784
The xref is always created over the last VM.

And here is just another thing: If dex file A contains a class CLASS_A and this one xref

[2017-12-14 08:52] reox commented on #373
See also Issue #359

[2017-12-15 13:56] reox opened #377 "namespace is ns00 instead of android"
during the conversion from SAX to DOM, the namespaces are renamed.

here is an example:
[code]
will output
`'<?xml version="1.0" ?>\n<manifest ns00:versionCode="1" ns00:versionName="1.0" package="tests.androguard" xmlns:ns00="http://schemas.android.com/apk/res/android">\n\t\n\n    \n\t<uses-sdk ns00:minSdkVersion="9" ns00:targetSdkVersion="16"/>\n\t\n\n    \n\t<application ns00:allowBackup="false"

[2017-12-17 14:16] subho007 commented on #377
`etree.tostring(tree, pretty_print=True)` solves it. Although I have encountered mangled manifest files which when parsed with AXML parser gives out invalid xml.

[2017-12-17 14:40] reox commented on #377
But the problem seems to be in the SAX2DOM parser? the Etree is fine, the problem is that we use minidom everywhere else. Probably we could use Etree, which seems to be easier as well.

[2017-12-17 15:18] reox opened #379 "Differences between output of py2 and 3"
Here is a short test program:
[code]

running this with python2 and python3, you can see some differences between the outputs.

Maybe we should check if there are more such differences and if they affect something.

[2017-12-17 17:19] reox opened #381 "Is there a better implementation for MUTF-8 Strings?"
This is the current implementation: https://github.com/androguard/androguard/blob/aa18f723c115c902cb495476a178eb1f9c0ec014/androguard/core/bytecodes/dvm.py#L1800-L1847

We would like to read the Strings from the DEX file and have them in a useful format - i.e. unicode?

I read in the documentation of Android, that the good thing about MUTF-8 is, that the strings will be always null terminated! Thi

[2017-12-17 17:56] reox commented on #381
I just tested that mutf8.py and it looks like it does not support some surrogates... need to investigate more

[2017-12-17 18:49] subho007 commented on #377
I agree, Etree is fine, the only reason I went ahead with a SAX2DOM parser was because many tools using androguard uses minidom which requires it. Since this is a rewrite of sorts, going ahead with etree as parser is good to go 👍

[2017-12-17 20:03] reox commented on #381
I just rewrote the MUTF-8 implementation. Now it looks more solid.
I also added testdata for some cases.

[2017-12-17 20:20] subho007 commented on #381
this is awesome !

[2017-12-17 20:41] #373 closed

[2017-12-17 20:47] #359 closed

[2017-12-17 23:47] subho007 commented on #377
@reox I remember this problem. SAX2DOM doesn't play well with `xmlns` instead it needs to be `xmlnamespace` attribute.

see - https://github.com/appknox/androguard-old/commit/fd63ec02ce517a7f7b3144eb34473231ea7eac1f

[2017-12-17 23:52] subho007 commented on #377
try this:

[code]

will give you output

[code]

[2017-12-17 23:57] reox commented on #377
But isn't `xmlnamespace` something different then `xmlns`? I could not find a single resource that says you can define namespaces like that...

[2017-12-18 00:10] subho007 commented on #377
True, but that is the hack I used to solve this. I think it is better to use etree directly.

[2017-12-18 07:13] ChenJunHero opened #383 "How could I get the parameter values of API calls by data-flow analysis？"
Hi！
I have get the api calls (external methods) of a apk file by androguard-3.0，and I also want to get some prarameters value of sensitive apis. Are there some fuctions or methods helping me achieve simple data-flow analysis.
Thanks.

[2017-12-18 08:12] #379 closed

[2017-12-18 08:12] #381 closed

[2017-12-18 08:52] #377 closed

[2017-12-18 08:54] reox commented on #383
this is related to #252

There is a tool to generate the mapping of API calls to their permissions. With this map you are able to determine so to say sensitive APIs.
But it is not very stable and produces a lot of wrong mappings...

Therefore I would suggest that you create a list of API calls you like to monitor.

[2017-12-18 08:56] reox commented on #343
See also #309, similar issue

[2017-12-18 08:58] reox commented on #268
Can you test if this probloem still occours in the latest master? I changed the MUTF-8 parser, maybe that helpend...
If not, I would be happy about failing samples!

[2017-12-18 09:04] reox commented on #221
But is there anything in tainted, that can not be done with the xrefs? I rewrote some parts that used tainted before and it wasn't too hard...
What are the functions we need?

I think we can do some quick changes to support at least the following things:
* find all calls to / from X
* find all occurences of a string
* find all usages of a package
* ???

[2017-12-18 09:06] reox commented on #98
If this issue still occurs, please reopen!

[2017-12-18 09:06] #98 closed

[2017-12-18 09:08] #362 closed

[2017-12-18 09:09] #241 closed

[2017-12-18 09:09] #188 closed

[2017-12-18 09:10] #209 closed

[2017-12-18 09:32] subho007 commented on #221
@reox that is exactly why I didn't send a PR. We can do most of the tainted analysis with XREFs.

One important thing which we require was `find all instances of Ljavax/crypto/` which is not possible to find from XREF alone, `Ljavax/crypto/` is a system package, it is found in the descriptor of the current method.

[2017-12-18 22:53] reox commented on #221
I started to refactor a little bit the Analysis module. If you have nice ideas for the functions we should implement, please share :)

[2017-12-19 06:13] ChenJunHero commented on #383
Sorry,maybe I said not clearly yesterday. I don`t want to get the mapping of API to their permission.
I  want get the parameter value of some special APIs.
For example:
- what is the flag values when calling setFlags() or addFlags() methods in the classes of Intent?
- what specific parameters are delivered to the methods of write(),append(),indexOF() and so on ?

Are there some simple static data-

[2017-12-20 12:12] reox opened #385 "Slow tests and slow documentation building"
We should monitor the tests a little bit... Looks like there are really really slow ones:
https://travis-ci.org/androguard/androguard/jobs/319127538#L955

took almost 6 minutes to run this single test - not sure if travis is here the bottleneck, as it runs much faster on my workstation.

[2017-12-20 12:15] reox commented on #385
It looks like that this is travis... in other python versions those tests are much faster... Also interesting that it seems to only affect py2.7

[2017-12-20 12:20] reox commented on #383
given that example:
[code]
you like to get `"bla"` for the call of `do_something(String x)`?

I'm not sure if this possible with the current setup...

[2017-12-20 13:12] ChenJunHero commented on #383
Yeah，that`s exactly what I mean.
I  have a primary approach which  get parameter values on the base of CFG obtained by androguard.
whatever I will try.
Thank you.

[2017-12-20 13:46] TinyMagicka opened #386 ""AttributeError: 'NoneType' object has no attribute 'get_method_analysis' " error occured while using AnalyzeAPK() in Androlyze.py -s"
my python version :python 3.6.4
my installation method:
     git clone git@github.com:androguard/androguard.git
     cd androguard
     pip3 install .

after installation i used androlyze.py . The whole screen output as follow:
/////////////////////////////////////////////////////////////////////////////////////////////////////////////
$ androlyze.py -s
Androguard version 3.1.0
In [1]:  a, d, dx =

[2017-12-20 14:31] reox commented on #386
can you share the APK that is causing the problem?

[2017-12-20 14:41] TinyMagicka commented on #386
![meiyingwifi_apk](https://user-images.githubusercontent.com/23069620/34212130-4dfed3a8-e5d6-11e7-8580-0d0a85e9e1a7.gif)
I have tested several apk files. all of them have the same problem.
this file is one of apk files
change file extension "gif" to "apk"

[2017-12-20 14:46] damadamn commented on #386
I've got the same problem with all my apk, official or not
When I use the debug method of @TinyMagicka , androguard blocked like that :

In [1]: a,d,dx = AnalyzeAPK("/home/damien/Documents/pst4_user_tracking/apk/com.u
   ...: bercab.apk")

and below all errors when I interrupted it :

---------------------------------------------------------------------------
KeyboardInterrupt

[2017-12-20 14:48] reox commented on #386
okay, yes I can confirm that!

[2017-12-20 14:52] reox commented on #386
the ipython export should have been after the analyis object are set in the DalvikVMObjects.
Can you check if #387 works for you? (it does for me)

[2017-12-20 15:03] TinyMagicka commented on #386
okay! it works

[2017-12-20 15:20] #386 closed

[2017-12-20 15:40] reox opened #388 "remove reloading of map items"
As discussed in #376

is there a way to remove the reloading but parse the items in a order where all dependencies are met?

[2017-12-20 17:00] reox commented on #388
it looks like the reload is required to have the values of the types/strings/... inside each object.
thus we should be able to move that into the __init__ method and parse the map in correct order.

[2017-12-20 17:16] reox opened #390 "Should any item in dvm depend on something in Analysis?"
In my opinion, those two classes should be separated from each other.
There are a lot of occurences, where a Analysis object is required...

[code]

otherwise you can not use DalvikVMFormat standalone. Analysis should be a pure extension to DalvikVMFormat.

[2017-12-21 13:26] reox opened #391 "Add support for ART/OAT files"
actually not that hard to parse... See http://www.blackhat.com/docs/asia-15/materials/asia-15-Sabanal-Hiding-Behind-ART-wp.pdf

[2017-12-21 13:30] reox commented on #391
usecase: you download all system apks from a phone and you like to load the boot.oat + all other APKs.

[2017-12-25 13:33] #337 closed

[2017-12-28 12:08] U039b opened #392 "Errors raised during valid APK decoding"
We use **Androguard** in [εxodus](https://github.com/Exodus-Privacy/exodus) and [εxodus standalone](https://github.com/Exodus-Privacy/exodus-standalone) and it appears that **Androguard** is unable to decode some APKs.

### What I wanted to do
In εxodus, we need to list Java classes contained into a given APK. To do so, we load, decode and call `get_classes_names()` method.
- This issue can be rep

[2017-12-28 20:39] reox commented on #392
thanks, i can confirm that! looks like the new mutf-8 implementation, still has some issues...

[2017-12-28 20:51] reox commented on #392
okay, this is the string:

[code]
gives:
[code]

now, encode with UTF-16/surrogatepass:
[code]

but this can not be decoded as utf16.

Not sure how to deal with such strings.
A quick fix would be something like this:
[code]

But maybe there is a better solution? It would be interesting to see the source code or what the string should be in Java. Maybe we should try to reproduce exactly that.

[2017-12-28 21:22] U039b commented on #392
@reox I do not know which string you are talking about :-S but I provided the APK causing this issue (https://framadrop.org/r/MWIlNfShVH#7PqXXozRgvcO0W3gslUt6ERxSk2RDMUdytxr8oq3wrU=). I can provide all the APK causing decoding errors.

[2017-12-28 21:33] reox commented on #392
the string is already out of the provided apk, but if you have more failing strings, please provide them as well.
Can you test if #393 will fix the issues? If you see log messages like `Error decoding UTF16 string with IDX ...` please provide them as well!

[2017-12-28 21:49] U039b commented on #392
Here is the complete log:
[code]

[2017-12-28 21:58] U039b commented on #392
`AnalyzeAPK()` systematically fails with the APKs I have. All the APKs are downloaded from Google Play.
[code]

[2017-12-29 08:14] reox commented on #392
thanks again!
looks like this is also different in python3...

for the get_method_analysis, can you send me the complete log?

[2017-12-29 09:07] reox commented on #392
As far as I understand the MUTF8 coding, this should be a Java code that produces this string:
[code]

You can compile it and it will work fine...
As it matches the UTF16_size in the dexfile (both 22), I suspect this is the actual output we want somehow...

The question is further: Internally, no decoding/encoding is required to work. Everything you need to do is to call mutf8.decode and you have

[2017-12-29 11:32] U039b commented on #392
Error log for `UTF-16` issue
[code]
BTW, if your new fix, Androguard is unable to decode APKs it was able to decode before.

[2017-12-29 14:23] reox commented on #392
Thanks for testing!

Okay, I'm still not entirely sure what to do, but maybe the string should be decoded as ascii?
I just pushed that change.

[2017-12-31 12:31] reox commented on #392
@subho007 do you have a good idea how we should deal with the unicode strings?

[2017-12-31 12:51] reox commented on #392
The problem is also the following: someone might have stored some data in a string, which is not exactly unicode. For example such a thing:
[code]

So, the approach of decoding everything as UTF-16 works only if there are actual utf16 strings stored... This is exactly the problem with the given string:
0xd800 is treated as an high surrogate, but the following 0xfeff is not a low surrogate.

[2018-01-05 03:02] gnaixx opened #394 "runing androaxml.py failed"
running androaxml.py but have some error

- Androguard Version: master
- Python Version: 3.6.2
- Operating System: OSX EI Capitan 10.11.6

### Further Log Files and Output
[code]

[2018-01-11 08:13] reox commented on #392
@androguard/external-contributors anyone has an idea how to deal with this problem?
Here is a short recap:
* Internally, we can use unicode strings, no matter what is in there. In my opinion, the MUTF8 decoder works correctly in this respect.
* Not all strings are well behaved strings, ie if only a sole high or low surrogate is passed, the decoding will not work
* To be able to print strings, we n

[2018-01-11 12:03] #365 closed

[2018-01-11 12:21] reox opened #395 "Return dex names as well"
https://github.com/androguard/androguard/blob/master/androguard/core/bytecodes/apk.py#L492-L507

need a second method that returns the name of the dexfile too.

[2018-01-18 07:29] ksg97031 commented on #395
https://github.com/androguard/androguard/pull/398

[2018-01-19 01:54] ksg97031 commented on #395
https://github.com/androguard/androguard/pull/399 check pls

[2018-01-19 01:59] ksg97031 commented on #394
https://github.com/androguard/androguard/pull/399 check pls

[2018-01-19 12:51] reox commented on #394
should be fixed, thanks to @ksg97031 !

[2018-01-19 12:51] #394 closed

[2018-01-25 10:03] reox commented on #392
I wrote a function that will merge complete surrogates into 32bit chars and escape lonely surrogates by an ascii sequence.

I think this is the best solution...

[2018-01-25 11:43] #392 closed

[2018-01-25 11:45] reox commented on #392
@U039b I pushed the changes to master. Can you test if it works now?

[2018-01-25 11:50] U039b commented on #392
Hi @reox!
Why do not add automatic tests? I can give you APKs which cause this error.

[2018-01-25 11:55] reox commented on #392
tests are here: https://github.com/androguard/androguard/blob/master/tests/test_strings.py :)

the problem with testing whole APKs is, that it is very slow and we might have license problems - See also #257

I would like to set up an extra repo where a lot (hundrets to thousands) of APKs are stored, which can be used for testing. I have something similar here for personal use but it takes some wee

[2018-01-25 11:58] U039b commented on #392
Okay, if you need more APKs, ask me: https://reports.exodus-privacy.eu.org/reports/apps/
I will test your patch and let you know.
Q: does **androguard** supports multiple `DEX` files?

[2018-01-25 12:04] reox commented on #392
yes! They are "bundled" in the Analysis object.
If you use `AnalyzeAPK` it will do the correct thing and return the `APK` object, a list of `DalvikVMFormat` and a single `Analysis` object.

[2018-01-25 12:06] U039b commented on #392
Thank you for your answer and for your patch: no more decoding error :+1:

[2018-01-25 12:08] reox commented on #392
I'm glad to hear that! If you have any other issues please report them.

[2018-01-25 12:10] U039b commented on #392
I will ;-)

[2018-01-25 13:06] reox opened #401 "FLAG_WEAK in ARSCParser"
Not sure yet why, but there are files where this happens...

[code]

[2018-01-25 13:20] reox commented on #401
btw it is facebook: https://www.virustotal.com/#/file/92130f529d0749f86b1642a67c6e2a854b30b846f5566aba4798b92212597e1e/details

[2018-01-25 14:30] reox commented on #401
I analyzed this resource file a little bit and the offending part is some "spec resource":
[code]
The parser thinks these are something else perhaps. Maybe there is a special flag that we do not read...

[2018-01-25 15:32] reox commented on #401
got it: it's called FLAG_WEAK...
https://github.com/LineageOS/android_frameworks_base/blob/df2898d9ce306bb2fe922d3beaa34a9cf6873d27/include/androidfw/ResourceTypes.h#L1375

who knows more about this stuff?

[2018-01-25 19:34] reox commented on #385
in py2.7, the sphinx docs seem to hung longer than 10 minutes for several builds now... Not sure if this is some load issue on travis or if the docs are building really this slow?

[2018-01-26 10:31] reox opened #403 "Reduce Memory Footprint of APK and DalvikVMFormat"
even if the file itself is in the order of tens of MB, the resulting objects will easily be in the range of several hundrets of MB.

for batch analysis this is unfavorable. (also: all the stuff is pretty much single core only. Therefore you could run multiple analysis on a multi core machine. But if your RAM is exceeded much more easily than the CPU, it does not work...)

[2018-01-26 10:48] reox opened #404 "Leaking Memory when Permission Mapping is read"
Not sure if this is actually leaking memory, but the impact is quite noticeable.
When inside the APK._apk_analysis function this line is called:
[code]
This is the impact:
[code]

This memory is not freed afterwards.

The total memory consumption is about 45MB more after this call.

Related to #252

[2018-01-31 10:19] reox commented on #252
axplorer has now mappings up to level 25: https://github.com/reddr/axplorer

[2018-02-08 11:39] reox opened #405 "Switch to a better graph library for creating XRefs?"
switch from creating objects with lists to store the objects directly as nodes and create graph with some fancy lib? Any ideas?

[2018-02-09 09:23] reox opened #406 "Xref should generate mappings for check-cast opcode"
This can be treated like a class call.

For example, loading a webview:
[code]

In this case there is no knowledge what has been loaded, because we currently do not resolve the IDs into the R class. But we can see the check-cast with the type WebView, therefore we know that this class is used.

we should add that to the _create_xref method.

[2018-02-09 09:26] reox opened #407 "Confusion between get_method and get_method_analysis"
inside Analysis, there are two methods:
https://github.com/androguard/androguard/blob/master/androguard/core/analysis/analysis.py#L959-L967
and
https://github.com/androguard/androguard/blob/master/androguard/core/analysis/analysis.py#L977-L985

while the former returns a MethodAnalysis, the latter returns a MethodClassAnalysis....

[2018-02-09 09:28] reox opened #408 "Add pretty show feature to MethodAnalysis"
The MethodAnalysis object should have the pretty show method, which we have patched away from EncodedMethod:

[code]

this prints the decompiled code section.

[2018-02-09 09:33] reox opened #409 "Workflow for analysis"
The workflow has a little bit changed, we should document those changes!

When you are working with an APK, you should not use DalvikVMFormat directly as it does not contain all the information. You should always use Analysis object, which contains all VMs and can produce nicer outputs.
For example, if you need all classes do not use:
[code]
but:
[code]

DalvikVMFormat should be the basis for Anal

[2018-02-09 09:34] reox commented on #405
networkx.MultiDiGraph might be interessting

[2018-02-09 11:10] reox opened #410 "make additional method like show but return string"
Is this a duplicate?

Anyways: it would be nice to have the same functionality as show() but return the string instead, so you could save that to a file or whatnot.

[2018-02-09 11:18] reox commented on #341
related: #410

[2018-02-09 11:33] reox opened #412 "Merge MethodAnalysis and MethodClassAnalysis"
Is there any reason that those two classes should be separated?

[2018-02-09 12:36] reox opened #413 "Implement Constraints"
See https://source.android.com/devices/tech/dalvik/constraints

we could implement those

[2018-02-09 13:00] #408 closed

[2018-02-11 21:27] AnasMK opened #414 "how to extract used permisssions?"
I read the code in androguard/core/bytecodes/apk.py , it seems that I can only get the declared permissions (from Manifest file) but cannot extract the used permissions. Also, the get_requested_permissions method is deprecated and returns declared permissions not the actually requested ones.

can any one confirm to me if I'm right? and If there is a way to get the used permissions form an apk, ple

[2018-02-12 06:56] reox commented on #414
Try this code #222

The problem is, that the API permission mappings are not correct.
I started to implement axplorer, which might have some better mappings, but this is far from useable: https://github.com/reox/androguard/tree/permission-mappings

[2018-02-15 19:54] reox commented on #236
@jbremer can you add me on pypi? this is my profile: https://pypi.org/user/reox/

[2018-02-16 09:45] reox commented on #252
@eighthave how would you implement this, especially when it comes to packaging: I have now used axplorer as a submodule and wrote a script to parse the files and convert them into the format that is used in androguard. those files are stored as JSON in the old folders and are loaded on demand.
should we generate the files and commit them or should this be done on install time? Of course we can als

[2018-02-16 15:17] reox opened #418 "Condense the depth of modules / create aliases"
for example: androguard.core.analysis.analysis.Analysis might be just androguard.Analysis.
same for other modules which are very often used like APK, DalvikVMFormat

maybe just create aliases at the toplevel, so you reduce typing work.
other ideas?

[2018-02-16 15:19] eighthave opened #419 "giving -o to androaxml crashes on TypeError"
Looks like a remnant of the py3 port:

[code]

androguard 3.1.0rc1 on Ubuntu/xenial.

[2018-02-16 15:28] reox commented on #419
yeah, I never looked at those tools as I have a metric ton of own ones :D

I'll have a look at the tools!

[2018-02-16 15:32] eighthave commented on #419
Something like this in the travis setup would catch them:

[code]

[2018-02-16 15:36] eighthave commented on #252
Either should be easy, so whatever is easier for you:
* including them in git/source tarball
* generating them as part of the build is easy

But keep in mind all the files needed to generate them need to be either in the source tarball or an existing Debian package.

[2018-02-16 15:39] reox opened #420 "create man pages from sphinx doc"
yes, you can do that!

maybe get rid of programoutput and write it on our own...

[2018-02-16 15:40] reox commented on #419
lets see what #421 does :D

[2018-02-16 15:42] reox commented on #252
Currently I commit the generated json files, see #417
Otherwise we can also use the submodule - are these included in the tarballs? then the generation is not that hard.

[2018-02-16 16:03] reox opened #422 "better androlyze"
androlyze shell is quite neat but has a big problem: if you use it for example to search for stuff in apks, you often encounter generators and long lists or just objects and you have no string to search for them.
therefore it would be nice to have helperfunctions in androlyze.
I had a look at viper, which makes this really beautifully! Maybe we could improve on the apk module and have more androly

[2018-02-16 16:12] Rafiot commented on #422
It is currently not possible, but at some point, it might be good to have ipython as default console in viper.

No idea when I'll have time to work on it, but it is an interesting idea

[2018-02-16 17:06] reox commented on #221
@subho007 regarding the javax.crypto: if such a module is used, it should end up in the external methods, right? Do you have an APK to test this on? I think this should work already...

[2018-02-16 17:52] #419 closed

[2018-02-17 12:17] reox commented on #343
this should be fixed now

[2018-02-17 12:17] #343 closed

[2018-02-17 12:17] reox commented on #309
this should be fixed now

[2018-02-17 12:17] #309 closed

[2018-02-17 12:22] reox opened #423 "readthedocs"
The repo on readthedocs is owned by someone else.
Also we should setup a webhook...